<!DOCTYPE html>
<html>
    <head>
        <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script>
        <![endif]-->
        <meta charset="UTF-8" />
        <title>{% block title %}#chassezlaroutine{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/basebledvoyage/css/style_admin.css') }}"/>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block head %}
        <div class="bloc_page_entetee">
            <div class="bloc_page_entete">
                <div class="bloc_page_entete_1">
                    <a href="{{ path('base_bledvoyage_homepage') }}"><img src="{{ asset('bundles/basebledvoyage/images/old/logo_2.png') }}" alt="logo de bledvoyage" /></a>
                </div>
                <div class="bloc_page_entete_2">
                    <div class="entete3">
                        <a href="{{ path('bledvoyage_admin') }}">Tableau de bord</a>
                        <a href="{{ path('bledvoyage_admin_reservation') }}">Réservations</a>
                        <a href="{{ path('bledvoyage_admin_commande') }}">Commandes</a>
                        <a href="{{ path('bledvoyage_admin_listes') }}">Listes</a>
                        {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('bledvoyage_admin_invitation') }}">Invitation</a>
                        <a href="{{ path('bledvoyage_admin_statisqtique') }}">Statistique</a>
                        <a href="{{ path('bledvoyage_admin_devis_entreprise') }}">Devis</a>
                        <a href="{{ path('bledvoyage_admin_ticket') }}">Ticket</a>
                        <a href="{{ path('bledvoyage_admin_nouvelle_sortie') }}">Valider</a>
                        {% endif %}
                        {# <a href="{{ path('bledvoyage_admin_present') }}">Présents</a> #}
                        {% if not is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('base_bledvoyage_homepage') }}">Les sorties</a>
                        {% endif %}
                        {#
                        <div class="contsou">
                            <img src="{{ asset('bundles/basebledvoyage/images/interface/phone.png') }}" alt="0 556 179 774"/>
                            <p>0 556 179 774</p>
                        </div>
                        #}
                    </div>
                </div>
            </div>
            <div class="bloc_page_entete3">
                {# <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'dz'})) }}" title="bledvoyage s tamaziɣt"><img src="{{ asset('bundles/basebledvoyage/images/lang/dz.png') }}" alt="bledvoyage s tamaziɣt" id="dz"/></a> #}
                <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}" title="bledvoyage en français"><img src="{{ asset('bundles/basebledvoyage/images/lang/fr.png') }}" alt="bledvoyage en français" id="fr"/></a>
                <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}" title="bledvoyage in english"><img src="{{ asset('bundles/basebledvoyage/images/lang/en.png') }}" alt="bledvoyage in english" id="en"/></a>
                <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'es'})) }}" title="bledvoyage en español"><img src="{{ asset('bundles/basebledvoyage/images/lang/es.png') }}" alt="bledvoyage en español" id="es"/></a>
            </div>
        </div>
        {% endblock %}
        {% block body %}{% endblock %}
        {% block foot %}
        <div class="footer_page">
            <div id="bloc_page_footer2">
                <p>
                    bledvoyage.com, crée et développe des solutions anti-routines pour particliers et professionnels. 
                    Il vous permet de trouver les meilleurs offres de séjours, de bons plans sympatiques, de vacances, activités de loisirs en Algérie. 
                    Recherchez votre séjour n'a jamais été aussi facile, vous partirez en Algérie et participerez aux activités de loisirs en toute confiance.
                    comparez en un clic les offres ainsi que les tarifs et reservez votre séjour, vos plans loisirs,  
                    vos vacances au meilleur prix en Algérie. 
                    Chassez la routine ! 
                </p>
            </div>
            <hr>
            <div id="bloc_page_footer3">
                <a href="#">Tout savoir sur bledvoyage</a> -
                © 2013 <a href="{{ path('base_bledvoyage_homepage') }}" target="_blank">bledvoyage.com</a> -
                <a href="http://www.facebook.com/Bledvoyage" target="_blank" title="bledvoyage sur Facebook"><img src="{{ asset('bundles/basebledvoyage/images/old/facebook.png') }}" alt="bledvoyage sur facebook" id="facebook"/></a>
                <a href="https://twitter.com/bledvoyage" target="_blank" title="bledvoyage sur twitter"><img src="{{ asset('bundles/basebledvoyage/images/old/twitter.png') }}" alt="bledvoyage sur twitter" id="twitter"/></a>
                <a href="http://www.youtube.com/user/bledvoyage" target="_blank" title="bledvoyage sur Youtube"><img src="{{ asset('bundles/basebledvoyage/images/old/youtube.png') }}" alt="bledvoyage sur youtube" id="skype"/></a>
            </div>
        </div>
        {% endblock %}
        {% block jquery %}
        <script src="{{ asset('basebledvoyage/js/jquery.min.js') }}"></script>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
