{% extends '::base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
<div class="bloc_page_body222">
    <h2>
        Réservation 
    </h2>
</div>	
<div class="bloc_page_body3">
    <section>
        <div class="infoparcourss">
            <div class="info_parcours">
                <p class="pgras1">Recapitulatif et réservation</p>
                <div class="rectangle1">
                </div>
            </div>
            <div class="info_parcours">
                <p class="pgras">Confirmation</p>
                <div class="rectangle">
                </div>
            </div>
        </div>
        <div class="forpar">
            <form method="post">
                <div class="dates">
                    <h2>
                        Nombre de places
                    </h2>
                    <h6>Combien de places ?</h6>
                    <img class="calendaro" alt="" src="{{ asset('bundles/basebledvoyage/images/interface/place.png') }}">
                </div>
                <div class="dates">
                    <div class="outplace">
                        <div class="inplace">
                            <label for="1">1 Place</label>
                            <input type= "radio" name="nombre" title="Le nombre de réservation est requis!" x-moz-errormessage="Le nombre de réservation est requis!" required value="1" id="1">
                        </div>
                    </div>
                    <div class="outplace">
                        <div class="inplace">
                            <label for="2">2 Places</label>
                            <input type= "radio" name="nombre" value="2" id="2">
                        </div>
                    </div>
                    <div class="outplace">
                        <div class="inplace">
                            <label for="3">3 Places</label>
                            <input type= "radio" name="nombre" value="3" id="3">
                        </div>
                    </div>
                    <div class="outplace">
                        <div class="inplace">
                            <label for="4">4 Places</label>
                            <input type= "radio" name="nombre" value="4" id="4">
                        </div>
                    </div>
                    <div class="outplace">
                        <div class="inplace">
                            <label for="5">5 Places</label>
                            <input type= "radio" name="nombre" value="5" id="5">
                        </div>
                    </div>
                    <div class="outplace">
                        <div class="inplace">
                            <label for="6">6 Places</label>
                            <input type= "radio" name="nombre" value="6" id="6">
                        </div>
                    </div>
                    <div class="outplace">
                        <div class="inplace">
                            <label for="7">7 et Plus</label>
                            <input type= "radio" name="nombre" value="7" id="7">
                        </div>
                    </div>
                </div>
                <div class="dates">
                    <h2>
                        Date de réservation
                    </h2>
                    <img class="calendaro" alt="" src="{{ asset('bundles/basebledvoyage/images/interface/calendaro.png') }}">
                </div>
                <div class="dates">
                    {% set date = 0 %}
                    {% for data in product %}
                    {% if data.dateFin|date('Y-m-d') > 'now'|date('Y-m-d') %}
                        {% if data.dateDebut == data.dateFin %}
                        <div class="outdate">
                            <div class="indate">    
                                <label for="{{ data.dateDebut|date('d/m/Y') }}">{{ data.dateDebut|date('d/m/Y') }}</label>
                                <input type= "radio" id="{{ data.dateDebut|date('d/m/Y') }}" name="dateReserver" required title="La date de réservation est requise!" x-moz-errormessage="La date de réservation est requise!" value="{{ data.dateDebut|date('d/m/Y') }}">
                            </div>
                        </div>
                        {% else %}
                        <div class="outdatea">
                            <div class="indateà">    
                                <label for="{{ data.dateDebut|date('d/m/Y') }}">Du {{ data.dateDebut|date('d/m/Y') }}, au {{ data.dateFin|date('d/m/Y') }}</label>
                                <input type= "radio" id="{{ data.dateDebut|date('d/m/Y') }}" name="dateReserver" required title="La date de réservation est requise!" x-moz-errormessage="La date de réservation est requise!" value="{{ data.dateDebut|date('d/m/Y') }}">
                            </div>
                        </div>
                        {% endif %}
                        {% set date = date + 1 %}
                    {% else %}
                        {% if data.dateDebut == data.dateFin %}
                        <div class="outdate" >
                            <div class="indate">
                                <label>
                                    {{ data.dateDebut|date('d/m/Y') }}
                                </label>
                                <p>Complet</p>
                                <img class="calendara" alt="Image" src="{{ asset('bundles/basebledvoyage/images/interface/sad.png') }}">
                            </div>
                        </div>
                        {% else %}
                        <div class="outdatea" >
                            <div class="indateo">
                                <label>
                                    Du {{ data.dateDebut|date('d/m/Y') }}, au {{ data.dateFin|date('d/m/Y') }}
                                </label>
                                <p>Complet</p>
                                <img class="calendara" alt="Image" src="{{ asset('bundles/basebledvoyage/images/interface/sad.png') }}">
                            </div>
                        </div>
                        {% endif %}
                    {% endif %}
                    {% endfor %}
                </div>	
                <div class="dates">
                    <h2>
                        Avez vous un code promotion ?
                    </h2>
                    <h6>J'ai un code promo</h6>
                    <img class="calendaro" alt="Image" src="{{ asset('bundles/basebledvoyage/images/interface/promo.png') }}">
                </div>
                <div class="mr7">
                    <div class="mr4u">
                        <label for="mdp">Passez cette étape si vous n'avez pas de code promo.</label>
                        <input class="ouardep" type="text" name="promo0" maxlength="8" />
                        <div id="cadre"></div>
                        <div class="casouty">
                            <input class="anou" type="button" value=" + " onclick="plus()" />
                            <input class="anou" type="button" style="display:none" id="sup" value=" - " onclick="moins()" />
                        </div>
                    </div>
                </div>
                <div class="mr6">
                    {% if date != 0 %}
                    <input class="cherchez" name="Valider" type="submit" value="Valider"/>
                    {% else %}
                    <input class="cherchez" name="Complet" type="botton" value="Complet"/>
                    {% endif %}
                </div>
            </form>
        </div>
    </section>
    <div class="sectiono">
        <div class="mr1i">
            <div class="mr2i">
                <h4>Besoin d'aide ?</h4>
            </div>
            <div class="mr2i">
                <p>
                    Des difficultés à remplir le formulaire de réservation ? Besoin de plus d'information sur la sortie ? Appelez-nous ! 
                </p>
            </div>
            <div class="appel">
                <img alt="0 556 179 774" src="{{ asset('bundles/basebledvoyage/images/interface/phone.png') }}">
                <p>0 556 179 774</p>
            </div>
        </div>
    </div>
    <div class="plusrc">
        <p>
            <a href="{{ path('base_bledvoyage_homepage') }}">Revenir au site bledvoyage.com</a>
        </p>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
var c,c2, ch;
// ajouter un champ avec son "name" propre;
function plus(){
    c=document.getElementById('cadre');
    c2=c.getElementsByTagName('input');
    ch=document.createElement('input');
    ch.className = "ouardep";
    ch.setAttribute('type','text');
    ch.setAttribute('name','promo'+(c2.length+1));
    ch.maxLength = "8";
    c.appendChild(ch);
    document.getElementById('sup').style.display='inline';
}
// supprimer le dernier champ;
function moins(){
    if(c2.length>0){c.removeChild(c2[c2.length-1])}
    if(c2.length===0){document.getElementById('sup').style.display='none'};
}
</script>
<!--
<script type="text/javascript">
  $(document).ready(function() {
    // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
    var $container = $('div#base_bledvoyagebundle_booking_promo');

    // On ajoute un lien pour ajouter une nouvelle catégorie
    var $addLink = $('<input type="button" value=" + " id="add_category" />');
    $container.append($addLink);

    // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
    $addLink.click(function(e) {
      addCategory($container);
      e.preventDefault(); // évite qu'un # apparaisse dans l'URL
      return false;
    });

    // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
    var index = $container.find(':input').length;

    // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).
    if (index === 0) {
      addCategory($container);
    } else {
      // Pour chaque catégorie déjà existante, on ajoute un lien de suppression
      $container.children('div').each(function() {
        addDeleteLink($(this));
      });
    }

    // La fonction qui ajoute un formulaire Categorie
    function addCategory($container) {
      // Dans le contenu de l'attribut « data-prototype », on remplace :
      // - le texte "__name__label__" qu'il contient par le label du champ
      // - le texte "__name__" qu'il contient par le numéro du champ
      var $prototype = $($container.attr('data-prototype').replace(/__name__label__/g, '')
          .replace(/__name__/g, index));

      // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
      addDeleteLink($prototype);

      // On ajoute le prototype modifié à la fin de la balise <div>
      $container.append($prototype);

      // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
      index++;
    }

    // La fonction qui ajoute un lien de suppression d'une catégorie
    function addDeleteLink($prototype) {
      // Création du lien
      $deleteLink = $('<input type="button" value=" - " />');

      // Ajout du lien
      $prototype.append($deleteLink);

      // Ajout du listener sur le clic du lien
      $deleteLink.click(function(e) {
        $prototype.remove();
        e.preventDefault(); // évite qu'un # apparaisse dans l'URL
        return false;
      });
    }
  });
</script>
-->
{% endblock %}
