{% extends '::base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block stylesheets %}{{ parent() }}{% endblock %}

{% block body %}
{% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
{{ render(controller('BaseUserBundle:Security:login', { 'id' : 2, 'booking' : booking, 'locale' : app.request.locale } )) }}
{{ render(controller('BaseUserBundle:Registration:register', { 'id' : booking } )) }}
{% else %}

{% for data in product %}
<div class="bloc_page_body222">
    <h2>
        {{ data.nom }}
    </h2>
</div>	
<div class="bloc_page_body3">
    <section>
        <div class="phoco">
            <img src="{{ asset('bundles/basebledvoyage/images/cadeau/' ~ data.photo ) }}" alt="Image">
        </div>
        <div class="infoparcourss">
            <div class="info_parcours">
                <p class="pgras1">{% trans %}base.bledvoyage.promotiontype.recapitulatif{% endtrans %}</p>
                <div class="rectangle1">
                </div>
            </div>
            <div class="info_parcours">
                <p class="pgras">{% trans %}base.bledvoyage.promotiontype.confirmation{% endtrans %}</p>
                <div class="rectangle">
                </div>
            </div>
        </div>
        <div class="forpar">
            <form method="post">
                <div class="dates">
                    <h2>
                        {% trans %}base.bledvoyage.promotiontype.nombre_1{% endtrans %} "{{ data.nom }}"
                    </h2>
                    <h6>{% trans %}base.bledvoyage.promotiontype.nombre_2{% endtrans %} "{{ data.nom }}" ?</h6>
                    <img class="calendaro" alt="Image" src="{{ asset('bundles/basebledvoyage/images/interface/place.png') }}">
                </div>
                <div class="dates">
                    <div class="outplace">
                        <div class="inplace">
                            <label for="1">1 {% trans %}base.bledvoyage.promotiontype.ticket{% endtrans %}</label>
                            <input type= "radio" name="nombre" title="Le nombre de réservation est requis!" x-moz-errormessage="Le nombre de réservation est requis!" required value="1" id="1">
                        </div>
                    </div>
                    <div class="outplace">
                        <div class="inplace">
                            <label for="2">2 {% trans %}base.bledvoyage.promotiontype.tickets{% endtrans %}</label>
                            <input type= "radio" name="nombre" value="2" for="2">
                        </div>
                    </div>
                    <div class="outplace">
                        <div class="inplace">
                            <label for="3">3 {% trans %}base.bledvoyage.promotiontype.tickets{% endtrans %}</label>
                            <INPUT type= "radio" name="nombre" value="3" id="3">
                        </div>
                    </div>
                    <div class="outplace">
                        <div class="inplace">
                            <label for="4">4 {% trans %}base.bledvoyage.promotiontype.tickets{% endtrans %}</label>
                            <input type= "radio" name="nombre" value="4" id="4">
                        </div>
                    </div>
                    <div class="outplace">
                        <div class="inplace">
                            <label for="5">5 {% trans %}base.bledvoyage.promotiontype.tickets{% endtrans %}</label>
                            <input type= "radio" name="nombre" value="5" id="5">
                        </div>
                    </div>
                    <div class="outplace">
                        <div class="inplace">
                            <label for="6">6 {% trans %}base.bledvoyage.promotiontype.tickets{% endtrans %}</label>
                            <input type= "radio" name="nombre" value="6" id="6">
                        </div>
                    </div>
                    <div class="outplace">
                        <div class="inplace">
                            <label for="7">7 {% trans %}base.bledvoyage.promotiontype.plus{% endtrans %}</label>
                            <input type= "radio" name="nombre" value="7 et plus" id="7">
                        </div>
                    </div>
                </div>
                <div class="dates">
                    <h2>
                        {% trans %}base.bledvoyage.promotiontype.perso_1{% endtrans %}
                    </h2>
                    <h6>{% trans %}base.bledvoyage.promotiontype.perso_2{% endtrans %}</h6>
                    <img class="calendaro" alt="Image" src="{{ asset('bundles/basebledvoyage/images/interface/place.png') }}">
                </div>
                <div class="mr7">
                    <div class="mr4u">
                        <label for="textPerso">{% trans %}base.bledvoyage.promotiontype.perso_3{% endtrans %}</label>
                        <textarea onFocus="if (this.value==='Ex : Meilleurs Voeux, Bonne Fête Maman, Saint Valentin, Bon anniversaire, ...') this.value='';" class="ouardep" id="textperso" cols="30" rows="4" name="textPerso" 
                        onkeypress="this.innerText = this.innerText.substr(0,50);" maxlength="50"
                        onkeyup="compte();">Ex : Meilleurs Voeux, Bonne Fête Maman, Saint Valentin, Bon anniversaire, ...</textarea>
                        <label id="nbrestant"></label>
                    </div>
                </div>
                <div class="mr6">
                    <input class="cherchez" name="login" type="submit" value="{% trans %}base.bledvoyage.promotiontype.valider{% endtrans %}"/>
                </div>
            </form>
        </div>
    </section>
    <div class="sectiono">
        <div class="mr1i">
            <div class="mr2i">
                <h4>{% trans %}base.bledvoyage.promotiontype.aide_1{% endtrans %}</h4>
            </div>
            <div class="mr2i">
                <p>
                    {% trans %}base.bledvoyage.promotiontype.aide_2{% endtrans %}
                </p>
            </div>
            <div class="appel">
                <img alt="0 556 179 774" src="{{ asset('bundles/basebledvoyage/images/interface/phone.png') }}">
                <p>0 556 179 774</p>
            </div>
        </div>
    </div>
    <div class="plusrc">
        <p>
        <a href="{{ path('base_bledvoyage_homepage') }}">
        {% trans %}base.bledvoyage.promotiontype.retour{% endtrans %}
        </a>
        </p>
    </div>
</div>
<script type="text/javascript">
    function compte(){
        var nbr = document.getElementById('textperso').value;
        document.getElementById('nbrestant').innerHTML = 50 - nbr.replace(/\[\/?\w+\]/g,'').length + ' caractères restants';
    }
</script>
{% endfor %}

{% endif %}

{% endblock %}
