<!DOCTYPE html>
<html>
    <head>
        <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script>
        <![endif]-->
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="{{ asset('bundles/basebledvoyage/css/style.css') }}"/>
        <title>#chassezlaroutine</title>
    </head>
    <body>
        <div class="bloc_page_entetee">
            <div class="bloc_page_entete">
                <div class="bloc_page_entete_1">
                    <a href="{{ path('base_bledvoyage_homepage') }}"><img src="{{ asset('bundles/basebledvoyage/images/old/logo_2.png') }}" alt="logo de bledvoyage" /></a>
                </div>
                <div class="bloc_page_entete_2">
                    <div class="entete3">
                        <a href="{{ path('base_bledvoyage_homepage') }}">Accueil</a>
                        <a href="#">Promotion</a>
                        <a href="#">Entreprise</a>
                        <a href="#">Formation</a>
                        <a href="#">Déposez votre produit</a>
                        <div class="contsou">
                            <img src="{{ asset('bundles/basebledvoyage/images/interface/phone.png') }}" alt="0 556 179 774"/>
                            <p>0 556 179 774</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bloc_page_entete3">
                <a href="http://www.facebook.com/Bledvoyage" target="_blank" title="bledvoyage sur Facebook"><img src="{{ asset('bundles/basebledvoyage/images/old/facebook.png') }}" alt="bledvoyage sur facebook" id="facebook"/></a>
                <a href="https://twitter.com/bledvoyage" target="_blank" title="bledvoyage sur twitter"><img src="{{ asset('bundles/basebledvoyage/images/old/twitter.png') }}" alt="bledvoyage sur twitter" id="twitter"/></a>
                <a href="http://www.youtube.com/user/bledvoyage" target="_blank" title="bledvoyage sur Youtube"><img src="{{ asset('bundles/basebledvoyage/images/old/youtube.png') }}" alt="bledvoyage sur youtube" id="skype"/></a>
            </div>
        </div>
        <div class="bled">
            <div class="headbled">
                <div class="messago">
                    <h1>#chassezlaroutine</h1>
                    <h2>bledvoyage.com crée et developpe des solutions anti-routines pour particuliers et professionnels 
                    <br/>
                    Détente, Sensation, Aventure, Challenge, Adrénaline,... Nous vous aidons à trouver des plans sympas pour chasser la routine.
                    </h2>
                </div>
            </div>
        </div>
        <div class="navibled">
            <div class="navicont">
                <ul class="naviul">
                    {% for data in categorie %}
                    <li class="navili">
                        <a href="#" class="navia">{{ data.nom|title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="bloc_page_body222">
            <h2>
                Les sorties  
            </h2>
        </div>
        <div class=".bloc_page_body3">

            <!--
            <div class="resrcbare">
                    <?php
                    $reponse = $bdd->query('SELECT SUM(validation) AS total FROM sortie');
                    $donnees = $reponse->fetch();
                    echo "<p>".$donnees['total']." sorties</p>";
                    $reponse->closeCursor();
                    ?>
            </div>
            -->
            {% for data in product %}
            {% if data.sortie.close == 0 %}
            <section>
                <div class="conte">
                    <div class="rc">
                        <div class="photorc">
                            <img src="depot/uploads/<?php echo $donnees['photo_1']; ?>" alt="{{ data.sortie.titre }}"/>
                        </div>
                        <div class="desrc">
                            <article>
                                <h1>{{ data.sortie.titre }}</h1>
                                <h3>
                                    <img alt="Image" src="{{ asset('bundles/basebledvoyage/images/interface/date.png') }}"> 2015-10-19 <img alt="Image" src="{{ asset('bundles/basebledvoyage/images/interface/heure.png') }}">{{ data.sortie.heureDebut }}  AU <img alt="Image" src="{{ asset('bundles/basebledvoyage/images/interface/date.png') }}"> 2015-10-19 <img alt="Image" src="{{ asset('bundles/basebledvoyage/images/interface/heure.png') }}">{{ data.sortie.heureFin }}
                                </h3>
                                <h3>
                                    <img alt="Image" src="{{ asset('bundles/basebledvoyage/images/interface/date.png') }}"> Le 2015-10-19 |  <img alt="Image" src="{{ asset('bundles/basebledvoyage/images/interface/heure.png') }}"> {{ data.sortie.heureDebut }} - {{ data.sortie.heureFin }}
                                </h3>
                                <div class="loc">
                                    <img src="{{ asset('bundles/basebledvoyage/images/interface/loc.png') }}" alt="Image"/>
                                    <h2>{{ data.sortie.localisation }}</h2>
                                </div>
                                <p>
                                {{ data.sortie.descriptif | slice(0, 150) }}
                                </p>
                                <!--
                                <div class="starblock">
                                    <img class="star" alt="etoile bledvoyage" src="image/op/star_20.png">
                                </div>
                                -->
                            </article>
                            <div class="opt">
                                {% if data.roller == 1 %}<img alt="Roller"   src="{{ asset('bundles/basebledvoyage/images/op/roller.png') }}">{% endif %}
                                {% if data.equitation == 1 %}<img alt="Equitation"   src="{{ asset('bundles/basebledvoyage/images/op/equitation.png') }}">{% endif %}
                                {% if data.fitness == 1 %}<img alt="Fitness"      src="{{ asset('bundles/basebledvoyage/images/op/fitness.png') }}">{% endif %}
                                {% if data.golf == 1 %}<img alt="Golf"         src="{{ asset('bundles/basebledvoyage/images/op/golf.png') }}">{% endif %}
                                {% if data.kayak == 1 %}<img alt="Kayak"        src="{{ asset('bundles/basebledvoyage/images/op/kayak.png') }}">{% endif %}
                                {% if data.plongee == 1 %}<img alt="Plongée"      src="{{ asset('bundles/basebledvoyage/images/op/plongee.png') }}">{% endif %}
                                {% if data.randonee == 1 %}<img alt="Randonnee"    src="{{ asset('bundles/basebledvoyage/images/op/randonnee.png') }}">{% endif %}
                                {% if data.running == 1 %}<img alt="Running"      src="{{ asset('bundles/basebledvoyage/images/op/running.png') }}">{% endif %}
                                {% if data.marche == 1 %}<img alt="Marche"       src="{{ asset('bundles/basebledvoyage/images/op/marche.png') }}">{% endif %}
                                {% if data.sportEau == 1 %}<img alt="Sport"        src="{{ asset('bundles/basebledvoyage/images/op/sport_eau.png') }}">{% endif %}
                                {% if data.tennis == 1 %}<img alt="tenis"        src="{{ asset('bundles/basebledvoyage/images/op/tenis.png') }}">{% endif %}
                                {% if data.velo == 1 %}<img alt="Velo"         src="{{ asset('bundles/basebledvoyage/images/op/velo.png') }}">{% endif %}
                                {% if data.visites == 1 %}<img alt="Visite"       src="{{ asset('bundles/basebledvoyage/images/op/visite.png') }}">{% endif %}
                                {% if data.arc == 1 %}<img alt="Arc"          src="{{ asset('bundles/basebledvoyage/images/op/arc.png') }}">{% endif %}
                                {% if data.quad == 1 %}<img alt="Quad"         src="{{ asset('bundles/basebledvoyage/images/op/quad.png') }}">{% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="choirc">
                        <div class="detrc">
                            <p class="prixnuit">
                            <strong>{{ data.sortie.tarif }}</strong>
                            Da
                            </p>
                            <p class="prixtot">Max : {{ data.sortie.maxPersonne }} peronnes</p>
                        </div>
                        <div class="choiev">
                            <div class="detprod">
                                <a href="view/detail.php?sortie=<?php echo $donnees['id'];?>">Détail</a>
                            </div>
                            <div class="resrc">
                                <a href="view/participation.php?sortie='.$idsortie.'">Réserver</a>
                            </div>
                            <div class="complet">
                                Complet
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            {% endif %}
            {% endfor %}
            <!--
            <div class="plusrc">
                <p>
                <a href="http://www.bledvoyage.com">
                Revenir au site bledvoyage.com
                </a>
                </p>
            </div>
            -->
        </div>
        <!-- // debut de la petite pub -->
        <div class="sectiono">
            <div class="mr1i">
                <div class="phoco">
                    <a href="view/cadeau.php"><img alt="Image" src="{{ asset('bundles/basebledvoyage/images/cadeau/prix_reduit.png') }}"/></a>
                </div>
                <div class="mr2i">
                    <h4>Achetez des tickets cadeaux et profitez des sorties et activités à prix réduits !</h4>
                </div>
                <div class="mr2i">
                    <p>
                    Que vous soyez un particulier ou une entreprise, les tickets cadeaux vous offrent un vaste choix d'activités : 
                    Sensations sur mer, sur terre, en montagne ... à prix réduits !
                    <br/>
                    De l'aventure, de la détente pour vous, vos amis, vos collaborateurs, vos partenaires, ... à partager avec vos proches
                    offir en cadeau.</p>
                </div>
                <div class="casoute">
                    <a href="view/cadeau.php">Découvrir nos offres à tarifs réduits</a>
                </div>
            </div>
        </div>
        <!-- // fin de la petite pub -->
        <!-- // les anciennes sortie -->
        <div class=".bloc_page_body3">
            {% for data in product %}
            {% if data.sortie.close == 1 %}
            <section>
                <div class="conte">
                    <div class="rc">
                        <div class="photorc">
                            <img src="depot/uploads/<?php echo $donnees['photo_1']; ?>" alt="{{ data.sortie.titre }}"/>
                        </div>
                        <div class="desrc">
                            <article>
                                <h1>{{ data.sortie.titre }}</h1>
                                <h3>
                                    <img alt="Image" src="{{ asset('bundles/basebledvoyage/images/interface/date.png') }}"> 2015-10-19 <img alt="Image" src="{{ asset('bundles/basebledvoyage/images/interface/heure.png') }}">{{ data.sortie.heureDebut }}  AU <img alt="Image" src="{{ asset('bundles/basebledvoyage/images/interface/date.png') }}"> 2015-10-19 <img alt="Image" src="{{ asset('bundles/basebledvoyage/images/interface/heure.png') }}">{{ data.sortie.heureFin }}
                                </h3>
                                <h3>
                                    <img alt="Image" src="{{ asset('bundles/basebledvoyage/images/interface/date.png') }}"> Le 2015-10-19 |  <img alt="Image" src="{{ asset('bundles/basebledvoyage/images/interface/heure.png') }}"> {{ data.sortie.heureDebut }} - {{ data.sortie.heureFin }}
                                </h3>
                                <div class="loc">
                                    <img src="{{ asset('bundles/basebledvoyage/images/interface/loc.png') }}" alt="Image"/>
                                    <h2>{{ data.sortie.localisation }}</h2>
                                </div>
                                <p>
                                {{ data.sortie.descriptif | slice(0, 150) }}
                                </p>
                                <!--
                                <div class="starblock">
                                    <img class="star" alt="etoile bledvoyage" src="image/op/star_20.png">
                                </div>
                                -->
                            </article>
                            <div class="opt">
                                {% if data.roller == 1 %}<img alt="Roller"   src="{{ asset('bundles/basebledvoyage/images/op/roller.png') }}">{% endif %}
                                {% if data.equitation == 1 %}<img alt="Equitation"   src="{{ asset('bundles/basebledvoyage/images/op/equitation.png') }}">{% endif %}
                                {% if data.fitness == 1 %}<img alt="Fitness"      src="{{ asset('bundles/basebledvoyage/images/op/fitness.png') }}">{% endif %}
                                {% if data.golf == 1 %}<img alt="Golf"         src="{{ asset('bundles/basebledvoyage/images/op/golf.png') }}">{% endif %}
                                {% if data.kayak == 1 %}<img alt="Kayak"        src="{{ asset('bundles/basebledvoyage/images/op/kayak.png') }}">{% endif %}
                                {% if data.plongee == 1 %}<img alt="Plongée"      src="{{ asset('bundles/basebledvoyage/images/op/plongee.png') }}">{% endif %}
                                {% if data.randonee == 1 %}<img alt="Randonnee"    src="{{ asset('bundles/basebledvoyage/images/op/randonnee.png') }}">{% endif %}
                                {% if data.running == 1 %}<img alt="Running"      src="{{ asset('bundles/basebledvoyage/images/op/running.png') }}">{% endif %}
                                {% if data.marche == 1 %}<img alt="Marche"       src="{{ asset('bundles/basebledvoyage/images/op/marche.png') }}">{% endif %}
                                {% if data.sportEau == 1 %}<img alt="Sport"        src="{{ asset('bundles/basebledvoyage/images/op/sport_eau.png') }}">{% endif %}
                                {% if data.tennis == 1 %}<img alt="tenis"        src="{{ asset('bundles/basebledvoyage/images/op/tenis.png') }}">{% endif %}
                                {% if data.velo == 1 %}<img alt="Velo"         src="{{ asset('bundles/basebledvoyage/images/op/velo.png') }}">{% endif %}
                                {% if data.visites == 1 %}<img alt="Visite"       src="{{ asset('bundles/basebledvoyage/images/op/visite.png') }}">{% endif %}
                                {% if data.arc == 1 %}<img alt="Arc"          src="{{ asset('bundles/basebledvoyage/images/op/arc.png') }}">{% endif %}
                                {% if data.quad == 1 %}<img alt="Quad"         src="{{ asset('bundles/basebledvoyage/images/op/quad.png') }}">{% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="choirc">
                        <div class="detrc">
                            <p class="prixnuit">
                            <strong>{{ data.sortie.tarif }}</strong>
                            Da
                            </p>
                            <p class="prixtot">Max : {{ data.sortie.maxPersonne }} peronnes</p>
                        </div>
                        <div class="choiev">
                            <div class="detprod">
                                <a href="view/detail.php?sortie=<?php echo $donnees['id'];?>">Détail</a>
                            </div>
                            <div class="resrc">
                                <a href="view/participation.php?sortie='.$idsortie.'">Réserver</a>
                            </div>
                            <div class="complet">
                                Complet
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            {% endif %}
            {% endfor %}
        </div>
        <div class="footer_page">
            <div id="bloc_page_footer2">
                <p>
                    bledvoyage.com, crée et développe des solutions anti-routines pour particliers et professionnels. 
                    Il vous permet de trouver les meilleurs offres de séjours, de bons plans sympatiques, de vacances, activités de loisirs en Algérie. 
                    Recherchez votre séjour n'a jamais été aussi facile, vous partirez en Algérie et participerez aux activités de loisirs en toute confiance.
                    comparez en un clic les offres ainsi que les tarifs et reservez votre séjour, vos plans loisirs,  
                    vos vacances au meilleur prix en Algérie. 
                    Chassez la routine ! 
                </p>
            </div>
            <hr>
            <div id="bloc_page_footer3">
                <a href="../contact/tout_savoir_sur_bledvoyage.php">Tout savoir sur bledvoyage</a> -
                © 2013 <a href="{{ path('base_bledvoyage_homepage') }}" target="_blank">bledvoyage.com</a> -
                <a href="http://www.facebook.com/Bledvoyage" target="_blank" title="bledvoyage sur Facebook"><img src="http://www.bledvoyage.com/images/facebook.png" alt="bledvoyage sur facebook" id="facebook"/></a> -
                <a href="https://twitter.com/bledvoyage" target="_blank" title="bledvoyage sur twitter"><img src="http://www.bledvoyage.com/images/twitter.png" alt="bledvoyage sur twitter" id="twitter"/></a> - 
                <a href="http://www.youtube.com/user/bledvoyage" target="_blank" title="bledvoyage sur Youtube"><img src="http://www.bledvoyage.com/images/youtube.png" alt="bledvoyage sur youtube" id="skype"/></a> 
            </div>
        </div>
    </body>	
</html>
