{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} - {{ titre }}{% endblock %}

{% block stylesheets %}{{ parent() }}{% endblock %}

{% block body %}
{% for data in product %}
<!-- DebutSortie -->
<div class="bloc_page_3">
    <!--Photo-->
    <div class="sectionni">
        <div class="photoi">
            {% if data.sortie.picture4 != null %}
            <img src="{{ asset(data.sortie.picture4.webPath) }}" alt="{{ data.sortie.picture4.alt }}" />
            {% endif %}
        </div>
    </div>
    <!--FinPhoto-->
    <!--Info-->
    <div class="foc_2">
        <div class="detailima">
            <div class="detailinfo">
                <div class="detza">
                    <h3>
                        {{ data.sortie.titre }}
                    </h3>
                    <h4>
                        <img alt="Image" src="{{ asset('bundles/basebledvoyage/images/interface/date.png') }}"> {{ data.sortie.dateDebut|date('d/m/Y') }} <img alt="Image" src="{{ asset('bundles/basebledvoyage/images/interface/heure.png') }}">{{ data.sortie.heureDebut }} AU 
                        <img alt="Image" src="{{ asset('bundles/basebledvoyage/images/interface/date.png') }}"> {{ data.sortie.dateFin|date('d/m/Y') }} <img alt="Image" src="{{ asset('bundles/basebledvoyage/images/interface/heure.png') }}">{{ data.sortie.heureFin }}.
                    </h4>
                    <div class="detroi">
                        <div class="deb">
                            <img alt="Image" src="{{ asset('bundles/basebledvoyage/images/interface/loc.png') }}">
                            <div class="debhead">
                                <div class="debbodya">
                                    <h6>{{ data.sortie.localisation }}</h6>
                                </div>
                            </div>
                        </div>
                        <div class="deb">
                            <img alt="Image" src="{{ asset('bundles/basebledvoyage/images/interface/max.png') }}">
                            <div class="debhead">
                                <div class="debbody">
                                    <h6>
                                    {{ data.sortie.maxPersonne }}											
                                    </h6>
                                    <p>Personnes</p>
                                </div>
                            </div>
                        </div>
                        <div class="der">
                            <img alt="Image" src="{{ asset('bundles/basebledvoyage/images/interface/prix.png') }}">
                            <div class="debhead">
                                <div class="debbody">
                                    <h6>{{ data.sortie.tarif }}</h6>
                                    <p>Dinars</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="resuyo">
                    <div class="reservationi">
                        <div class="mr6io">
                            <a href="{{ path('bledvoyage_booking', { 'id': data.sortie.id  }) }}">
                                <input class="trouvezi" type="button" value="Réserver"/>
                            </a>
                        </div>								
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--FinInfo-->
    <!--Menu-->
    <div class="detailono">
        <div class="mt1">
            <div class="detailform">
                <nav class="detali">  
                    <ul>
                        <li><a onClick="document.getElementById('description').style.display='block'; 
                                        document.getElementById('conditions').style.display='none'; 
                                        document.getElementById('photos').style.display='none';">Description</a></li>

                        <li><a onClick="document.getElementById('description').style.display='none'; 
                                        document.getElementById('conditions').style.display='none'; 
                                        document.getElementById('photos').style.display='block';">Photos</a></li>
                        <li><a onClick="document.getElementById('description').style.display='none'; 
                                        document.getElementById('conditions').style.display='block'; 
                                        document.getElementById('photos').style.display='none';" >Conditions</a></li>
                        <!--<li>Avis</li>-->
                        <li><a href="{{ path('bledvoyage_booking', { 'id': data.sortie.id  }) }}">Réserver</a></li>								
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!--FinMenu-->
    <!-- LeProjet -->					
    <div id="description" style="display:block;">					
        <div class="sectiar">
            <h2>Description</h2> 
        </div>
        <div class="sectiono"> 
            <div class="mr1i">
                <div class="mr2i">
                    <h4>À propos</h4>
                </div>
                <div class="mr2i">
                    <p>
                        {{ data.sortie.descriptif }}
                    </p>
                </div>
                <!-- Astuce -->
                <!-- FinAstucce -->
                <div class="mr2i">
                    <h5>Catégorie</h5>
                    <p>
                        {% if data.roller == 1 %}       <img alt="Roller"       src="{{ asset('bundles/basebledvoyage/images/op/roller.png') }}">{% endif %}
                        {% if data.equitation == 1 %}   <img alt="Equitation"   src="{{ asset('bundles/basebledvoyage/images/op/equitation.png') }}">{% endif %}
                        {% if data.fitness == 1 %}      <img alt="Fitness"      src="{{ asset('bundles/basebledvoyage/images/op/fitness.png') }}">{% endif %}
                        {% if data.golf == 1 %}         <img alt="Golf"         src="{{ asset('bundles/basebledvoyage/images/op/golf.png') }}">{% endif %}
                        {% if data.plongee == 1 %}      <img alt="Plongée"      src="{{ asset('bundles/basebledvoyage/images/op/plongee.png') }}">{% endif %}
                        {% if data.randonee == 1 %}     <img alt="Randonnee"    src="{{ asset('bundles/basebledvoyage/images/op/randonnee.png') }}">{% endif %}
                        {% if data.running == 1 %}      <img alt="Running"      src="{{ asset('bundles/basebledvoyage/images/op/running.png') }}">{% endif %}
                        {% if data.marche == 1 %}       <img alt="Marche"       src="{{ asset('bundles/basebledvoyage/images/op/marche.png') }}">{% endif %}
                        {% if data.sportEau == 1 %}     <img alt="Sport"        src="{{ asset('bundles/basebledvoyage/images/op/sport_eau.png') }}">{% endif %}
                        {% if data.tennis == 1 %}       <img alt="tenis"        src="{{ asset('bundles/basebledvoyage/images/op/tenis.png') }}">{% endif %}
                        {% if data.velo == 1 %}         <img alt="Velo"         src="{{ asset('bundles/basebledvoyage/images/op/velo.png') }}">{% endif %}
                        {% if data.visites == 1 %}      <img alt="Visite"       src="{{ asset('bundles/basebledvoyage/images/op/visite.png') }}">{% endif %}
                        {% if data.arc == 1 %}          <img alt="Arc"          src="{{ asset('bundles/basebledvoyage/images/op/arc.png') }}">{% endif %}
                        {% if data.quad == 1 %}         <img alt="Quad"         src="{{ asset('bundles/basebledvoyage/images/op/quad.png') }}">{% endif %}
                        {% if data.kayak ==1 %}         <img alt="Kayak"        src="{{ asset('bundles/basebledvoyage/images/op/kayak.png') }}">{% endif %}
                    </p>
                </div>
                <div class="mr2i">
                    <h5>Quelques mots sur l'organisateur</h5>
                    <div class="pholui">
                        {% if data.sortie.user.picture != null %}
                        <img src="{{ asset(data.sortie.user.picture.webPath) }}" alt="{{ data.sortie.user.picture.alt }}" />
                        {% elseif data.sortie.picture1 != null %}
                        <img src="{{ asset(data.sortie.picture1.webPath) }}" alt="{{ data.sortie.picture1.alt }}" />
                        {% endif %}
                    </div>
                    <div class="texlui">
                        <h6>{{ data.sortie.user.secondename }}</h6>
                        <p>
                            {% if data.sortie.user.apropos != null %}
                            {{ data.sortie.user.apropos }}
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
            <div class="casoute">
                <a href="{{ path('bledvoyage_booking', { 'id': data.sortie.id  }) }}">Réserver</a>
            </div>
        </div>
    </div>
    <!--FinLeProjet-->
    {% if data.sortie.video is not empty %}
    <!-- video -->
    <div id="videos" style="display:block;">					
        <div class="sectiar">
            <h2>En vidéo</h2> 
        </div>
        <div class="sectiono"> 
            <div class="mr1i">
                <div class="mr2i">
                    <h4>Vidéo</h4>
                </div>
                <div class="intro4">
                    <iframe width="620" height="349" src="{{ data.sortie.video[:24] ~ 'embed/' ~ data.sortie.video[32:] ~ '?rel=0' }}" allowfullscreen>
                    </iframe>
                </div> 
            </div>
            <div class="casoute">
                <a href="{{ path('bledvoyage_booking', { 'id': data.sortie.id  }) }}">Réserver</a>
            </div>				
        </div>
    </div>	
    <!-- FinVideo -->
    {% endif %}
    <!-- LeProjet -->					
    <div id="conditions" style="display:block;">					
        <div class="sectiar">
            <h2>Conditions</h2> 
        </div>
        <div class="sectiono"> 
            <div class="mr1i">
                <div class="mr2i">
                    <h4>Conditions</h4>
                </div>
                <div class="mr2i">
                    <p>
                        {{ data.sortie.conditions }}
                    </p>
                </div>
            </div>
            <div class="casoute">
                <a href="{{ path('bledvoyage_booking', { 'id': data.sortie.id  }) }}">Réserver</a>
            </div>
        </div>
    </div>
    <!-- FinProjet -->
    <!--FinAide-->	
    <div id="photos" style="display:block;">					
        <div class="sectiar">
            <h2>Des questions ?</h2> 
        </div>
        <div class="sectiono"> 
            <div class="mr1i">
                <div class="mr2i">
                    <h4>Appelez-nous !</h4>
                </div>
                <div class="mr2i">
                    <p>
                        Vous souhaitez avoir plus d'information sur l'activité ? Appelez-nous ! 
                    </p>
                </div>
                <div class="appel">
                    <img alt="0 556 179 774" src="{{ asset('bundles/basebledvoyage/images/interface/phone.png') }}">
                    <p>0 556 179 774</p>
                </div>
            </div>
        </div>
    </div>
    <!-- LeAide -->					
    <div id="photos" style="display:block;">					
        <div class="sectiar">
            <h2>Photos</h2> 
        </div>
        <div class="sectiono"> 
            <div class="mr1i">
                <div class="mr2i">
                    <h4>Photos</h4>
                </div>
                <div class="intro4">
                    <div class="photoss">
                        {% if data.sortie.picture2 != null %}<img src="{{ asset(data.sortie.picture2.webPath) }}" alt="{{ data.sortie.picture2.alt }}" />{% endif %}
                        {% if data.sortie.picture3 != null %}<img src="{{ asset(data.sortie.picture3.webPath) }}" alt="{{ data.sortie.picture3.alt }}" />{% endif %}
                        {% if data.sortie.picture4 != null %}<img src="{{ asset(data.sortie.picture4.webPath) }}" alt="{{ data.sortie.picture4.alt }}" />{% endif %}
                    </div>
                </div>
            </div>
            <div class="casoute">
                <a href="{{ path('bledvoyage_booking', { 'id': data.sortie.id  }) }}">Réserver</a>
            </div>				
        </div>
    </div>	
    <!--FinLeProjet-->	
</div>
<!-- FinSortie -->
{% if nbrAvis != 0 %}
<!-- Avis -->
<div id="avis" style="display:block;">					
    <div class="sectiar">
        <h2>Avis</h2> 
    </div>
    <div class="sectiono"> 
        <div class="mr1i">
            <div class="mr2i">
                <h4>Il y a {{ nbrAvis }} avis</h4>
            </div>
            <div class="mr2i">
                <ul class="coment">
                    {% for data in avis %}
                    <li>
                        <img class="avli" src="{{ asset('bundles/basebledvoyage/images/interface/avis.png') }}" alt="avis"/>
                        <div class="headcom">
                            <h3>{{ data.booking.user.secondename }}</h3>
                            <p>{{ data.dateTime|date('d/m/Y') }} à {{ data.dateTime|date('h:i') }}</p>
                            <h4>
                                {{ data.avis }}
                            </h4>
                        </div>
                        <div class="emotion">
                            <div class="tion">
                                {% if data.emotion == '1' %}
                                <img class="avlo" src="{{ asset('bundles/basebledvoyage/images/avis/bien.png') }}" alt="bien"/>
                                {% elseif data.emotion == '2' %}
                                <img class="avlo" src="{{ asset('bundles/basebledvoyage/images/avis/cava.png') }}" alt="cava"/>
                                {% elseif data.emotion == '3' %}
                                <img class="avlo" src="{{ asset('bundles/basebledvoyage/images/avis/decu.png') }}" alt="decu"/>
                                {% endif %}
                            </div>				
                        </div>					
                    </li>
                    {% endfor %}
                </ul> 
            </div>
        </div>
    </div>
</div>
<!-- FinAvis -->
{% endif %}
<!-- participant -->
{% if nbrParticipant > 0 %}
<div id="participant" style="display:block;">					
    <div class="sectiar">
        <h2>Les participants</h2> 
    </div>
    <div class="sectiono"> 
        <div class="mr1i">
            <div class="mr2i">
                <h4>Il y a {{ nbrParticipant }} participant(s) cette semaine</h4>
            </div>
            <div class="mr2i">
                <ul class="coment">
                    {% for data in participant %}
                    <li>
                        <img class="avli" src="{{ asset('bundles/basebledvoyage/images/interface/avis.png') }}" alt="avis"/>
                        <div class="headcom">
                            <h3>{{ data.user.secondename|title }}</h3>
                            <h4>
                                {{ data.nombre }} place(s)
                            </h4>
                        </div>				
                    </li>
                    {% endfor %}
                </ul> 
            </div>
        </div>
    </div>
</div>
{% endif %}
<!-- Fin participant -->
<!-- Partage -->
<div id="partage" style="display:block;">					
    <div class="sectiar">
        <h2>Réseaux Sociaux</h2> 
    </div>
    <div class="sectiono"> 
        <div class="mr1i">
            <div class="mr2i">
                <h4>Partagez l'évènement avec vos amis</h4>
            </div>
            <div class="mr2i">
                <table>
                    <tr>
                        <td>
                            <!-- Bouton Google -->
                            <!-- Placez cette balise où vous souhaitez faire apparaître le gadget Bouton +1. -->
                            <div class="g-plusone" data-size="tall"></div>
                            <!-- Placez cette ballise après la dernière balise Bouton +1. -->
                            <script type="text/javascript">
                                window.___gcfg = {lang: 'fr'};
                                (function() {
                                    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                                    po.src = 'https://apis.google.com/js/plusone.js';
                                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                                })();
                            </script>
                            <!-- Fin bouton-->
                        </td>
                        <td>
                            <!-- Bouton Twitter -->
                            <a href="https://twitter.com/share" class="twitter-share-button" data-lang="fr">Tweeter</a>
                            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                            <!-- Fin Bouton -->
                        </td>
                        <td>
                            <!-- Bouton facebook -->
                            <div class="fb-share-button" data-type="box_count"></div>
                            <div id="fb-root"></div>
                            <script>(function(d, s, id) {
                                var js, fjs = d.getElementsByTagName(s)[0];
                                if (d.getElementById(id)) return;
                                js = d.createElement(s); js.id = id;
                                js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1";
                                fjs.parentNode.insertBefore(js, fjs);
                            }(document, 'script', 'facebook-jssdk'));</script>
                            <!-- Fin Bouton -->
                        </td>
                        <td class="haut">
                            <!-- Bouton In -->
                            <script src="//platform.linkedin.com/in.js" type="text/javascript">
                            lang: fr_FR;
                            </script>
                            <script type="IN/Share" data-counter="top"></script>
                            <!-- Fin Bouton -->
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- FinPartage -->
<div class="plusrc">
    <p>
        <a href="{{ path('base_bledvoyage_homepage') }}">Cliquez ici pour retourner à la liste des sorties...</a>
    </p>
</div>
{% endfor %}
{% endblock %}

{% block jquery %}{% endblock %}
