{% extends '::base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block stylesheets %}{{ parent() }}{% endblock %}

{% block body %}
<div class="bled">
    <div class="headcad">
        <div class="contint">
            <div class="message">
                <h1>{% trans %}base.bledvoyage.promotion.vitrine_1{% endtrans %}</h1>
                <h2>{% trans %}base.bledvoyage.promotion.vitrine_2{% endtrans %}</h2>
                <p>
                    <a href="#decouvrir">{% trans %}base.bledvoyage.promotion.vitrine_3{% endtrans %}</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div id="decouvrir"></div>
<div class="bloc_page_body222">
    <h2>
        {% trans %}base.bledvoyage.promotion.titre{% endtrans %}
    </h2>
</div>
{% for data in product %}
<div class="bloc_page_3">
    <div class="sectiono">
        <div class="mr1i">
            <div class="phoco">
                <img alt="Image" src="{{ asset('bundles/basebledvoyage/images/cadeau/' ~ data.photo) }}">
            </div>
            <div class="mr2bo">
                <h4>{{ data.nom }}</h4>
            </div>
            <div class="mr2bo">
                <div class="headmr">
                    <div class="bome">
                        <p>
                            {% trans with {'%nombre%': data.nombreActivite, '%reduit%': data.tarif, '%normal%': data.tarif + data.economie} %}base.bledvoyage.promotion.description{% endtrans %}
                        </p>
                        <p>
                            <img alt="Image" class="abo" src="{{ asset('bundles/basebledvoyage/images/cadeau/offre/val.png') }}"> {% trans with {'%duree%': data.duree} %}base.bledvoyage.promotion.valable{% endtrans %}
                        </p>
                        <p>
                            <img alt="Image" class="abo" src="{{ asset('bundles/basebledvoyage/images/cadeau/offre/cad.png') }}"> {% trans %}base.bledvoyage.promotion.loisir{% endtrans %} :
                        </p>
                        <div class="tbome">
                            <p>
                                <img alt="Image" class="bbo"  src="{{ asset('bundles/basebledvoyage/images/op/randonnee.png') }}"> {% trans %}base.bledvoyage.promotion.montagne{% endtrans %} 
                            </p>
                            <p>							
                                <img alt="Image" class="bbo"  src="{{ asset('bundles/basebledvoyage/images/op/velo.png') }}"> {% trans %}base.bledvoyage.promotion.terre{% endtrans %} 
                            </p>
                            {#
                            <p>
                                <img alt="Image"  class="bbo" src="{{ asset('bundles/basebledvoyage/images/op/plongee.png') }}"> {% trans %}base.bledvoyage.promotion.mer{% endtrans %}
                            </p>
                            <p>
                                <img alt="Image" class="bbo"  src="{{ asset('bundles/basebledvoyage/images/op/visite.png') }}"> {% trans %}base.bledvoyage.promotion.air{% endtrans %}
                            </p>
                             #}
                        </div>
                        <!--
                        <p>
                            <img alt="Image" class="abo" src="{{ asset('bundles/basebledvoyage/images/cadeau/offre/exclu.png') }}"> {% trans %}base.bledvoyage.promotion.exlusive{% endtrans %} 
                        </p>
                        -->
                    </div>
                    <div class="headtar">
                        <h5>{{ data.tarif }} Da</h5>
                        <h6>{{ data.economie }} Da {% trans %}base.bledvoyage.promotion.economie{% endtrans %} </h6>
                        <p>
                            {% trans %}base.bledvoyage.promotion.offre{% endtrans %}
                        </p>
                    </div>
                </div>
            </div>
        </div> 
        <div class="casoute">
            <a href="{{ path('bledvoyage_promotion_type', { 'id': data.id }) }}">
                <input class="anou" type="button" value="{% trans %}base.bledvoyage.promotion.commander{% endtrans %}">
            </a>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
$('a[href^="#"]').ready(function(){
    $('a[href^="#decouvrir"]').on('click', function(evt){
        evt.preventDefault(); 
        var target = $(this).attr('href');
        $('html, body')
            .stop()
            .animate({scrollTop: $(target).offset().top}, 1000 ); 
    });
});
</script>
{% endblock %}
