{% extends '::base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block stylesheets %}{{ parent() }}{% endblock %}

{% block body %}
<div class="bled">
    <div class="headcad">
        <div class="contint">
            <div class="message">
                <h1>Des activités à prix réduits !</h1>
                <h2>
                    De l'aventure, de la détente pour vous, vos amis, vos collaborateurs, vos partenaires, ... à partager avec vos proches.
                    Que vous soyez un particulier ou une entreprise, les tickets cadeaux vous offrent un vaste choix d'activités sur mesure : 
                    Sensations sur terre, sur mer, en montagne ... à prix réduits !
                </h2>
                <p>
                    <a href="#decouvrir">Découvrir nos tickets cadeaux</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div id="decouvrir"></div>
<div class="bloc_page_body222">
    <h2>
        Pour le plaisir d'offrir et de s'offrir ! 
    </h2>
</div>
{% for data in product %}
<div class="bloc_page_3">
    <div class="sectiono">
        <div class="mr1i">
            <div class="phoco">
                <img alt="Image" src="{{ asset('bundles/basebledvoyage/images/cadeau/' ~ data.photo) }}">
            </div>
            <div class="mr2bo">
                <h4>{{ data.nom }}</h4>
            </div>
            <div class="mr2bo">
                <div class="headmr">
                    <div class="bome">
                        <p>
                            En commandant ce pack, vous recevrez un ticket cadeau qui permettra 
                            à son bénéficiaire de participer à {{ data.nombreActivite }} activité, d'une valeur de {{ data.tarif }} Dinars, au lieu de {{ data.tarif + data.economie }} Dinars.
                        </p>
                        <p>
                            <img alt="Image" class="abo" src="{{ asset('bundles/basebledvoyage/images/cadeau/offre/val.png') }}"> Le ticket cadeau est valable pendant {{ data.duree }} Mois. 
                        </p>
                        <p>
                            <img alt="Image" class="abo" src="{{ asset('bundles/basebledvoyage/images/cadeau/offre/cad.png') }}"> Le ticket cadeau vous permet d'accéder aux activités loisirs : 
                        </p>
                        <div class="tbome">
                            <p>
                                <img alt="Image" class="bbo"  src="{{ asset('bundles/basebledvoyage/images/op/randonnee.png') }}"> MONTAGNE : Randonnée fraicheur matinale, Randonnée & Tir l'arc, Chasse au trésor, Jeux d'orientation, Quad en montagne.
                            </p>
                            <p>							
                                <img alt="Image" class="bbo"  src="{{ asset('bundles/basebledvoyage/images/op/velo.png') }}"> TERRE : Randonnée Cheval, Randonnée VTT, Balade et découverte de la ville Romaine.
                            </p>
                            <p>
                                <img alt="Image"  class="bbo" src="{{ asset('bundles/basebledvoyage/images/op/plongee.png') }}"> MER : Randonnée aquatique, Bouée sensation.
                            </p>
                            <p>
                                <img alt="Image" class="bbo"  src="{{ asset('bundles/basebledvoyage/images/op/visite.png') }}"> AIR : Cerf volant géant.
                            </p>
                        </div>
                        <p>
                            <img alt="Image" class="abo" src="{{ asset('bundles/basebledvoyage/images/cadeau/offre/exclu.png') }}"> EXCLUSIVITÉ : Avec ce ticket, vous aurez l'accès en exclusivité aux nouvelles activités qui seront lancées prochainement : 
                            Tyrolienne géante, Escalade, Parcours aventure, ....
                        </p>
                    </div>
                    <div class="headtar">
                        <h5>{{ data.tarif }} Da</h5>
                        <h6>{{ data.economie }} Da d'économie</h6>
                        <p>
                            Offre valable jusqu'au 15 février 2015, dans la limite des stocks disponibles !
                        </p>
                    </div>
                </div>
            </div>
        </div> 
        <div class="casoute">
            <a href="{{ path('bledvoyage_promotion_type', { 'id': data.id }) }}">
                <input class="anou" type="button" value="Commander">
            </a>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
$('a[href^="#"]').ready(function(){
    $('a[href^="#decouvrir"]').on('click', function(evt){
        evt.preventDefault(); 
        var target = $(this).attr('href');
        $('html, body')
            .stop()
            .animate({scrollTop: $(target).offset().top}, 1000 ); 
    });
});
</script>
{% endblock %}
