{% extends '::base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block body %}
<div class="bloc_page_body222">
    <h2>
        {% trans %}base.bledvoyage.creation.sujet{% endtrans %}
    </h2>
</div>	
<div class="bloc_page_body3">
    <section>
        <div class="infoparcourss">
            <div class="parcre">
                <p class="pgras1">{% trans %}base.bledvoyage.creation.creation{% endtrans %}</p>
                <div class="rectangle1">
                </div>
            </div>
            <div class="parcre">
                <p class="pgras">{% trans %}base.bledvoyage.creation.finalisation{% endtrans %}</p>
                <div class="rectangle">
                </div>
            </div>
            <div class="parcre">
                <p class="pgras">{% trans %}base.bledvoyage.creation.confirmation{% endtrans %}</p>
                <div class="rectangle">
                </div>
            </div>
        </div>
        <div class="resae">
            <div class="sectiar">
                <h2>{% trans %}base.bledvoyage.creation.information{% endtrans %}</h2>
            </div>
            <div class="sectiono">
                <form method="post" enctype="multipart/form-data" {{ form_enctype(form) }}>
                    <div class="mr7">
                        <div class="mr4u">
                            <label>{% trans %}base.bledvoyage.creation.local{% endtrans %}</label>
                            {{ form_widget(form.localisation, {'attr': {'class': 'ouardep'} }) }}
                        </div>
                    </div>
                    <div class="mr7">
                        <label for="titre">{% trans %}base.bledvoyage.creation.titre{% endtrans %}</label>
                        {{ form_widget(form.titre, {'attr': {'class': 'ouatitre'} }) }}
                    </div>
                    <div class="mr7">
                        <label for="type">{% trans %}base.bledvoyage.creation.type{% endtrans %}</label>
                        <div class="tyso">
                            <div class="opig">
                                {{ form_widget(form.categorieSortie.velo) }}
                            </div>
                            <div class="opit">
                                <label for="velo" class="pigo">
                                    <img alt="Velo" src="{{ asset('bundles/basebledvoyage/images/op/velo.png') }}">
                                    <div class="piod">
                                        {% trans %}base.bledvoyage.creation.velo{% endtrans %}
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="tyso">
                            <div class="opig">
                                {{ form_widget(form.categorieSortie.randonee) }}
                            </div>
                            <div class="opit">
                                <label for="randonee" class="pigo">
                                    <img alt="Randonee" src="{{ asset('bundles/basebledvoyage/images/op/randonnee.png') }}">
                                    <div class="piod">
                                        {% trans %}base.bledvoyage.creation.randonee{% endtrans %}
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="tyso">
                            <div class="opig">
                                {{ form_widget(form.categorieSortie.fitness) }}
                            </div>
                            <div class="opit">
                                <label for="fitness" class="pigo">
                                    <img alt="Fitness" src="{{ asset('bundles/basebledvoyage/images/op/fitness.png') }}">
                                    <div class="piod">
                                        {% trans %}base.bledvoyage.creation.fitness{% endtrans %}
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="tyso">
                            <div class="opig">
                                {{ form_widget(form.categorieSortie.running) }}
                            </div>
                            <div class="opit">
                                <label for="running" class="pigo">
                                    <img alt="Running" src="{{ asset('bundles/basebledvoyage/images/op/running.png') }}">
                                    <div class="piod">
                                        {% trans %}base.bledvoyage.creation.running{% endtrans %}
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="tyso">
                            <div class="opig">
                                {{ form_widget(form.categorieSortie.roller) }}
                            </div>
                            <div class="opit">
                                <label for="roller" class="pigo">
                                    <img alt="Running" src="{{ asset('bundles/basebledvoyage/images/op/roller.png') }}">
                                    <div class="piod">
                                        {% trans %}base.bledvoyage.creation.roller{% endtrans %}
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="tyso">
                            <div class="opig">
                                {{ form_widget(form.categorieSortie.tennis) }}
                            </div>
                            <div class="opit">
                                <label for="tennis" class="pigo">
                                    <img alt="tenis" src="{{ asset('bundles/basebledvoyage/images/op/tenis.png') }}">
                                    <div class="piod">
                                        {% trans %}base.bledvoyage.creation.tennis{% endtrans %}
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="tyso">
                            <div class="opig">
                                {{ form_widget(form.categorieSortie.sportEau) }}
                            </div>
                            <div class="opit">
                                <label for="sport_eau" class="pigo">
                                    <img alt="Sport" src="{{ asset('bundles/basebledvoyage/images/op/sport_eau.png') }}">
                                    <div class="piod">
                                        {% trans %}base.bledvoyage.creation.eau{% endtrans %}
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="tyso">
                            <div class="opig">
                                {{ form_widget(form.categorieSortie.plongee) }}
                            </div>
                            <div class="opit">
                                <label for="plongee" class="pigo">
                                    <img alt="Plongée" src="{{ asset('bundles/basebledvoyage/images/op/plongee.png') }}">
                                    <div class="piod">
                                        {% trans %}base.bledvoyage.creation.plongee{% endtrans %}
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="tyso">
                            <div class="opig">
                                {{ form_widget(form.categorieSortie.golf) }}
                            </div>
                            <div class="opit">
                                <label for="golf" class="pigo">
                                    <img alt="Golf" src="{{ asset('bundles/basebledvoyage/images/op/golf.png') }}">
                                    <div class="piod">
                                        {% trans %}base.bledvoyage.creation.golf{% endtrans %}
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="tyso">
                            <div class="opig">
                                {{ form_widget(form.categorieSortie.kayak) }}
                            </div>
                            <div class="opit">
                                <label for="kayak" class="pigo">
                                    <img alt="Kayak" src="{{ asset('bundles/basebledvoyage/images/op/kayak.png') }}">
                                    <div class="piod">
                                        {% trans %}base.bledvoyage.creation.kayak{% endtrans %}
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="tyso">
                            <div class="opig">
                                {{ form_widget(form.categorieSortie.equitation) }}
                            </div>
                            <div class="opit">
                                <label for="equitation" class="pigo">
                                    <img alt="Equitation" src="{{ asset('bundles/basebledvoyage/images/op/equitation.png') }}">
                                    <div class="piod">
                                        {% trans %}base.bledvoyage.creation.equitation{% endtrans %}
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="tyso">
                            <div class="opig">
                                {{ form_widget(form.categorieSortie.marche) }}
                            </div>
                            <div class="opit">
                                <label for="marche" class="pigo">
                                    <img alt="Marche" src="{{ asset('bundles/basebledvoyage/images/op/marche.png') }}">
                                    <div class="piod">
                                        {% trans %}base.bledvoyage.creation.marche{% endtrans %}
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="tyso">
                            <div class="opig">
                                {{ form_widget(form.categorieSortie.visites) }}
                            </div>
                            <div class="opit">
                                <label for="visites" class="pigo">
                                    <img alt="Visite" src="{{ asset('bundles/basebledvoyage/images/op/visite.png') }}">
                                    <div class="piod">
                                        {% trans %}base.bledvoyage.creation.patrimoine{% endtrans %}
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="tyso">
                            <div class="opig">
                                {{ form_widget(form.categorieSortie.air) }}
                            </div>
                            <div class="opit">
                                <label for="air" class="pigo">
                                    <img alt="Air" src="{{ asset('bundles/basebledvoyage/images/op/visite.png') }}">
                                    <div class="piod">
                                        {% trans %}base.bledvoyage.creation.air{% endtrans %}
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="tyso">
                            <div class="opig">
                                {{ form_widget(form.categorieSortie.sable) }}
                            </div>
                            <div class="opit">
                                <label for="sable" class="pigo">
                                    <img alt="Sable" src="{{ asset('bundles/basebledvoyage/images/op/visite.png') }}">
                                    <div class="piod">
                                        {% trans %}base.bledvoyage.creation.sable{% endtrans %}
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="tyso">
                            <div class="opig">
                                {{ form_widget(form.categorieSortie.quad) }}
                            </div>
                            <div class="opit">
                                <label for="quad" class="pigo">
                                    <img alt="Quad" src="{{ asset('bundles/basebledvoyage/images/op/quad.png') }}">
                                    <div class="piod">
                                        {% trans %}base.bledvoyage.creation.quad{% endtrans %}
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="tyso">
                            <div class="opig">
                                {{ form_widget(form.categorieSortie.arc) }}
                            </div>
                            <div class="opit">
                                <label for="arc" class="pigo">
                                    <img alt="Arc" src="{{ asset('bundles/basebledvoyage/images/op/arc.png') }}">
                                    <div class="piod">
                                        {% trans %}base.bledvoyage.creation.arc{% endtrans %}
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="mr7">
                        <div class="mr4u">
                            <label for="date_debut">{% trans %}base.bledvoyage.creation.date_1{% endtrans %}</label>
                            {{ form_widget(form.dateDebut, {'attr': {'class': 'datepicker'} }) }}
                        </div>
                        <div class="mr4u">
                            <label for="heure_debut">{% trans %}base.bledvoyage.creation.heure_1{% endtrans %}</label>
                            {{ form_widget(form.heureDebut, {'attr': {'class': 'ouardep'} }) }}
                        </div>
                        <div class="mr4u">
                            <label for="date_fin">{% trans %}base.bledvoyage.creation.date_2{% endtrans %}</label>
                            {{ form_widget(form.dateFin, {'attr': {'class': 'datepicker'} }) }}
                        </div>
                        <div class="mr4u">
                            <label for="heure_fin">{% trans %}base.bledvoyage.creation.heure_2{% endtrans %}</label>
                            {{ form_widget(form.heureFin, {'attr': {'class': 'ouardep'} }) }}
                        </div>
                    </div>
                    <div class="mr7">
                        <div class="mr4u">
                            <label for="tarif">{% trans %}base.bledvoyage.creation.tarif{% endtrans %}</label>
                            {{ form_widget(form.tarif, {'attr': {'class': 'ouardep'} }) }}
                        </div>
                        <div class="mr4u">
                            <label for="max_personne">{% trans %}base.bledvoyage.creation.nombre{% endtrans %}</label>
                            {{ form_widget(form.maxPersonne, {'attr': {'class': 'ouardep'} }) }}
                        </div>
                    </div>
                    <div class="mr7">
                        <div class="mr4u">
                            <label for="descriptif">{% trans %}base.bledvoyage.creation.description_1{% endtrans %}</label>
                            <p class="coord">{% trans %}base.bledvoyage.creation.description_2{% endtrans %}</p>
                            {{ form_widget(form.descriptif, {'attr': {'class': 'textarea', 'cols': '30', 'rows': '5'} }) }}
                        </div>
                        <div class="mr4u">
                            <label for="condi">{% trans %}base.bledvoyage.creation.condition_1{% endtrans %}</label>
                            <p class="coord">{% trans %}base.bledvoyage.creation.condition_2{% endtrans %}</p>
                            {{ form_widget(form.conditions, {'attr': {'class': 'textarea', 'cols': '30', 'rows': '5'} }) }}
                        </div>
                    </div>
                    <div class="mr7">
                        <div class="mr4u">
                            {{ form_widget(form.picture1.file) }}
                        
                        <div class="mr4u">
                            {{ form_widget(form.picture2.file) }}
                        </div>
                        <div class="mr4u">
                            {{ form_widget(form.picture3.file) }}
                        </div>
                        <div class="mr4u">
                            {{ form_widget(form.picture4.file) }}
                        </div>
                    </div>
                    <div class="mr6">
                        {{ form_rest(form) }}
                        <input class="cherchez" name="login" type="submit" value="{% trans %}base.bledvoyage.creation.valider{% endtrans %}"/>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <div class="sectiono">
        <div class="mr1i">
            <div class="mr2i">
                <h4>{% trans %}base.bledvoyage.creation.aide_1{% endtrans %}</h4>
            </div>
            <div class="mr2i">
                <p>
                    {% trans %}base.bledvoyage.creation.aide_2{% endtrans %}
                </p>
            </div>
            <div class="appel">
                <img alt="0 556 179 774" src="{{ asset('bundles/basebledvoyage/images/interface/phone.png') }}">
                <p>0 556 179 774</p>
            </div>
        </div>
    </div>
    <div class="plusrc">
        <p>
            <a href="{{ path('base_bledvoyage_homepage') }}">
                {% trans %}base.bledvoyage.creation.revenir{% endtrans %}
            </a>
        </p>
    </div>
</div>
<!--
<div class="bloc_page_body222">
    <h2>
        Création d'une sortie 
    </h2>
</div>	
<div class="bloc_page_body3">
    <section>
        <div class="infoparcourss">
            <div class="parcre">
                <p class="pgras">Création</p>
                <div class="rectangle">
                </div>
            </div>
            <div class="parcre">
                <p class="pgras1">Finalisation</p>
                <div class="rectangle1">
                </div>
            </div>
            <div class="parcre">
                <p class="pgras">Confirmation</p>
                <div class="rectangle">
                </div>
            </div>
        </div>
        <div class="resae">
            <div class="sectiar">
                <h2>Information sur Vous</h2>
            </div>
            <div class="sectiono">
                <form method="post" enctype="multipart/form-data">
                    <div class="mr7">
                        <div class="mr4u">
                            <label for="nom">Votre Nom </label>
                            <input class="ouardep" type="text" name="nom" id="nom" placeholder="Ex : Khaled" />
                        </div>

                        <div class="mr4u">
                            <label for="ville">Votre Prénom</label>
                            <input class="ouardep" type="text" name="prenom" placeholer="Ex : Feniche" />
                        </div>
                    </div>
                    <div class="mr7">
                        <div class="mr4u">
                            <label for="email">Adresse E-mail</label>
                            <p class="coord">Assurez vous de l'avoir écrit correctement. Vous receverez votre réservation par e-mail.</p>
                            <input class="ouardep" type="email" name="email" placeholer="Ex : khaled.feniche@gmail.com" />
                        </div>
                        <div class="mr4u">
                            <label for="telephone">Téléphone</label>
                            <p class="coord">Assurez vous de l'avoir écrit correctement. pour vous contacter en cas de besoin.</p>
                            <input class="ouardep" type="text" name="phone" placeholder="Ex : 0553815963" />
                        </div>
                    </div>
                    <div class="mr7">
                        <div class="mr4u">
                            <label for="password">Mot de passe</label>
                            <p class="coord">Pour créer un compte</p>
                            <input class="ouardep" type="password" name="password" />
                        </div>
                    </div>
                    <div class="mr7">
                        <div class="mr4u">
                            <input type="file" name="photo">
                        </div>
                    </div>
                    <div class="mr6">
                        <input class="cherchez" name="login" type="submit" value="Envoyer"/>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <div class="plusrc">
        <p>
            <a href="{{ path('base_bledvoyage_homepage') }}">
                Revenir au site bledvoyage.com
            </a>
        </p>
    </div>
</div>

<div class="bloc_page_body222">
    <h2>
        Création d'une sortie 
    </h2>
</div>	
<div class="bloc_page_body3">
    <section>
        <div class="infoparcourss">
            <div class="parcre">
                <p class="pgras">Création</p>
                <div class="rectangle">
                </div>
            </div>
            <div class="parcre">
                <p class="pgras">Finalisation</p>
                <div class="rectangle">
                </div>
            </div>
            <div class="parcre">
                <p class="pgras1">Confirmation</p>
                <div class="rectangle1">
                </div>
            </div>
        </div>
        <div class="resae">
            <div class="sectiar">
                <h2>Sortie envoyée!</h2>
            </div>
            <div class="sectiono">
                <p>Votre sortie a été transmise à l'équipe, pour validation.</p>
                <p>Vous receverez un e-mail dès que possible, n'hésitez pas à consutler le dossier "courrier indesirable".</p>
                <br />
            </div>
        </div>
    </section>
    <div class="plusrc">
        <p>
            <a href="{{ path('base_bledvoyage_homepage') }}">
                Revenir au site bledvoyage.com
            </a>
        </p>
    </div>
</div>
-->
{% endblock %}

{% block javascripts %}
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
jQuery(function($){
    $.datepicker.regional['fr'] = {
        closeText: 'Fermer',
        prevText: 'Précédent',
        nextText: 'Suivant',
        currentText: 'Aujourd\'hui',
        monthNames: ['Janvier','Février','Mars','Avril','Mai','Juin',
        'Juillet','Août','Septembre','Octobre','Novembre','Décembre'],
        monthNamesShort: ['Janv.','Févr.','Mars','Avril','Mai','Juin',
        'Juil.','Août','Sept.','Oct.','Nov.','Déc.'],
        dayNames: ['Dimanche','Lundi','Mardi','Mercredi','Jeudi','Vendredi','Samedi'],
        dayNamesShort: ['Dim.','Lun.','Mar.','Mer.','Jeu.','Ven.','Sam.'],
        dayNamesMin: ['D','L','M','M','J','V','S'],
        weekHeader: 'Sem.',
        dateFormat: 'dd/mm/yy',
        firstDay: 7,
        isRTL: false,
        showMonthAfterYear: false,
        yearSuffix: ''
    };
    $.datepicker.setDefaults( $.datepicker.regional[ "" ] );
    $( ".datepicker" ).datepicker( $.datepicker.regional[ "fr" ] );
});
$(function() {
    $('input.datepicker').datepicker();
});
</script>
{% endblock %}
