<page>
    <div class="avison">
        <div class="resudate">
            <h1>{{ date|date('d/m/Y') }}</h1>
        </div>
        <strong>TOTAL :  {{ nbrResa }} résa, {{ nbrPlace }} places</strong>
        <h2>{{ titre }}</h2>
        <table>
            <thead>
                <tr>
                    <th class="numero">Ligne</th>
                    <th>Résa</th>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Tél.</th>
                    <th>Place</th>
                    <th>Créneau</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody>
                {% for data in product %}
                <tr>
                    <td class="numero">11</td>
                    <td>123</td>
                    <td>{{ data.prenom }}</td>
                    <td>{{ data.nom }}</td>
                    <td>0606060606</td>
                    <td>{{ data.nombre }}</td>
                    <td>11h</td>
                    <td>{{ data.note }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</page>
