{% extends "::Admin/base.html.twig" %}

{% block title %}Administration{% endblock %}

{% block stylesheets %}
{{ parent() }}
<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
{% endblock %}

{% block body %}
<h1>Welcome to the Admin:index page</h1>
<div class="bloc_page_body222">
    <h2>
        Commandes de tickets
    </h2>
</div>		
<section>
    <div class="avisor">
        <h3>31 sorties</h3>
        <p> Nombres de réservations total = 368</p>				
        <p> Nombres de places réservés = 1007</p>						
        <p>
            CA potentiel = 
        </p>
    </div>
</section>
<div class=".bloc_page_body3">
    {% for data in product %}
    <script>
    jQuery(document).ready(function(){
        $("#boutonplus{{ data.id }}").on("click", function(){
            $("#boutonplus{{ data.id }}").hide();
            $("#boutonmoins{{ data.id }}").show();
            $("#plus{{ data.id }}").slideDown();
            return false;
        });
        $("#boutonmoins{{ data.id }}").on("click", function(){
            $("#boutonmoins{{ data.id }}").hide();
            $("#boutonplus{{ data.id }}").show();
            $("#plus{{ data.id }}").slideUp();
            return false;
        });
    });
    </script>
    <section>
        <div class="soutir">
            <h3 style="display:inline">{{ data.titre }}  // </h3>
            <a id="boutonplus{{ data.id }}" href="#" class="leplus"> Ouvrir</a>
            <a style="display:none" id="boutonmoins{{ data.id }}" href="#" class="leplus"> Reduire</a>
        </div>
        <div style="display:none" id="plus{{ data.id }}">
            <div class="avisor">
                <div class="avileft">
                    <p>
                        Tarif : {{ data.tarif }} Da/personne  
                    </p>
                </div>
                <div class="aviright">
                    <div class="headav">
                        <h2>Résa Total</h2> 
                    </div>
                    <div class="headav">
                        <h2>Résa confirmés</h2>
                        <p>12 </p>
                        <div class="evod">
                            <div class="evodo">
                                <div style="width:20%;" class="evoda">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="headav">
                        <h2>Places confirmées</h2>				
                    </div>
                    <div class="headav">
                        <h2>Présent</h2>							
                    <div class="evod">
                        <div class="evodo">
                            <div style="width:20%;" class="evoda">
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="headav">
                        <h2>Facturé</h2>					
                    </div>
                </div>
            </div>
            <div class="avison">
                <table>
                    <thead>
                        <tr>
                            <th class="numero">Ligne</th>
                            <th>N° de Commande</th>
                            <th>Date commande</th>
                            <th>Prénom</th>
                            <th>Nom</th>
                            <th>Tél.</th>
                            <th>Quantité</th>
                            <th>Date achat</th>
                            <th>Paiement</th>
                            <th>RDV</th>
                            <th>Note</th>
                            <th>Note</th>
                            <th>Confirmer</th>
                            <th>Facture</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% set i = 1 %}
                    {% for dataT in commande %}
                    {% if dataT.idCategorie == data.id %}
                        {%     if dataT.tel is not empty and dataT.confirmer == 0 and dataT.facture == 0 %}
                        <tr>
                            <td class="numero">{{ i }}</td>
                            <td>{{ dataT.id }}</td>
                            <td>{{ dataT.dateTime|date('d/m/Y') }}</td>
                            <td>{{ dataT.prenom }}</td>
                            <td>{{ dataT.nom }}</td>
                            <td>{{ dataT.tel }}</td>
                            <td>{{ dataT.place }}</td>
                            <td>{% if dataT.dateAchat != 'Ì' %}{{ dataT.dateAchat|date('d/m/Y') }}{% endif %}</td>
                            <td>{{ dataT.modePaiement }}</td>
                            <td>{% if dataT.rdv != '30/11/-0001' %}{{ dataT.rdv }}{% endif %}</td>
                            <td class="couleur">{{ dataT.note }}</td>
                            <td><a href="{{ path('bledvoyage_admin_commande_note',      { 'id': dataT.id } ) }}" target="_blank" class="button">Note</a></td>
                            <td><a href="{{ path('bledvoyage_admin_commande_confirmer', { 'id': dataT.id } ) }}" target="_blank" class="button">Envoyer</a></td>
                            <td><div target="_blank" class="buttono">Facturer</div></td>
                        </tr>
                        {% elseif dataT.tel is not empty and dataT.confirmer == 1 and dataT.facture == 0 %}
                        <tr>
                            <td class="numero">{{ i }}</td>
                            <td>{{ dataT.id }}</td>
                            <td>{{ dataT.dateTime|date('d/m/Y') }}</td>
                            <td>{{ dataT.prenom }}</td>
                            <td>{{ dataT.nom }}</td>
                            <td>{{ dataT.tel }}</td>
                            <td>{{ dataT.place }}</td>
                            <td>{% if dataT.dateAchat != '30/11/-0001' %}{{ dataT.dateAchat|date('d/m/Y') }}{% endif %}</td>
                            <td>{{ dataT.modePaiement }}</td>
                            <td>{% if dataT.rdv != '30/11/-0001' %}{{ dataT.rdv }}{% endif %}</td>
                            <td class="couleur">{{ dataT.note }}</td>
                            <td><a href="{{ path('bledvoyage_admin_commande_note',      { 'id': dataT.id } ) }}" target="_blank" class="button">Note</a></td>
                            <td><a href="{{ path('bledvoyage_admin_commande_confirmer', { 'id': dataT.id } ) }}" target="_blank" class="buttona"><img src="{{ asset('bundles/basebledvoyage/images/admin/ok.png') }}" alt="ok" class="oko">Envoyé</a></td>
                            <td><a href="{{ path('bledvoyage_admin_commande_facturer',  { 'id': dataT.id } ) }}" target="_blank" class="button">Facturer</a></td>
                        </tr>
                        {% elseif dataT.tel is not empty and dataT.confirmer == 1 and dataT.facture == 1 %}
                        <tr class="spetela">
                            <td class="numero">{{ i }}</td>
                            <td class="okao"><img src="{{ asset('bundles/basebledvoyage/images/admin/oka.png') }}" alt="ok" class="oka">{{ dataT.id }}</td>
                            <td>{{ dataT.dateTime|date('d/m/Y') }}</td>
                            <td>{{ dataT.prenom }}</td>
                            <td>{{ dataT.nom }}</td>
                            <td>{{ dataT.tel }}</td>
                            <td>{{ dataT.place }}</td>
                            <td>{% if dataT.dateAchat != '30/11/-0001' %}{{ dataT.dateAchat|date('d/m/Y') }}{% endif %}</td>
                            <td>{{ dataT.modePaiement }}</td>
                            <td>{% if dataT.rdv != '30/11/-0001' %}{{ dataT.rdv }}{% endif %}</td>
                            <td class="couleur">{{ dataT.note }}</td>
                            <td><a href="{{ path('bledvoyage_admin_commande_note',      { 'id': dataT.id } ) }}" target="_blank" class="button">Note</a></td>
                            <td><a href="{{ path('bledvoyage_admin_commande_confirmer', { 'id': dataT.id } ) }}" target="_blank" class="buttona"><img src="{{ asset('bundles/basebledvoyage/images/admin/ok.png') }}" alt="ok" class="oko">Envoyé</a></td>
                            <td><a class="buttona"><img src="{{ asset('bundles/basebledvoyage/images/admin/ok.png') }}" alt="ok" class="oko">Facturé</a></td>
                        </tr>
                        {% elseif dataT.tel is empty %}
                        <tr class="spetel">
                            <td class="numero">{{ i }}</td>
                            <td>{{ dataT.id }}</td>
                            <td>{{ dataT.dateTime|date('d/m/Y') }}</td>
                            <td>{{ dataT.prenom }}</td>
                            <td>{{ dataT.nom }}</td>
                            <td>{{ dataT.tel }}</td>
                            <td>{{ dataT.place }}</td>
                            <td>{% if dataT.dateAchat != '30/11/-0001' %}{{ dataT.dateAchat|date('d/m/Y') }}{% endif %}</td>
                            <td>{{ dataT.modePaiement }}</td>
                            <td>{% if dataT.rdv != '30/11/-0001' %}{{ dataT.rdv }}{% endif %}</td>
                            <td></td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                        {% endif %}
                    {% set i = i + 1 %}
                    {% endif %}
                    {% endfor %}
                    </tbody>
                </table>			
            </div> 
        </div>
    </section>
    {% endfor %}
</div>
{% endblock %}

{% block jquery %}{% endblock %}
{% block javascripts %}
<script>
// --
</script>
{% endblock %}
