{% extends "::Admin/base.html.twig" %}

{% block title %}Administration{% endblock %}

{% block stylesheets %}
{{ parent() }}
<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
{% endblock %}

{% block body %}
<div class="bloc_page_body222">
    <h2>
        Tableau de Bord
    </h2>
</div>		
<section>
    <div class="avisor">
        <h3>31 sorties</h3>
        <p> Nombres de réservations total = 368</p>				
        <p> Nombres de places réservés = 1007</p>						
        <p>
            CA potentiel = 
        </p>
    </div>
</section>
<div class="bloc_page_body3">
    {% for data in product %}
    <script>
    jQuery(document).ready(function(){
        $("#boutonplus{{ data.id }}").on("click", function(){
            $("#boutonplus{{ data.id }}").hide();
            $("#boutonmoins{{ data.id }}").show();
            $("#plus{{ data.id }}").slideDown();
            return false;
        });
        $("#boutonmoins{{ data.id }}").on("click", function(){
            $("#boutonmoins{{ data.id }}").hide();
            $("#boutonplus{{ data.id }}").show();
            $("#plus{{ data.id }}").slideUp();
            return false;
        });
    });
    </script>
    <section>
        <div class="soutir">
            <h3 style="display:inline">{{ data.titre }}  // {{ data.localisation }}</h3>
            <a class="leplus"  href="#" id="boutonplus{{ data.id }}"> Ouvrir</a>
            <a class="leplus" href="#" id="boutonmoins{{ data.id }}" style="display:none"> Reduire</a>
        </div>
        <div id="plus{{ data.id }}" style="display:none">
            <div class="avisor">
                <div class="avileft">
                    <h4>
                        <img alt="Image" src="{{ asset('bundles/basebledvoyage/images/interface/date.png') }}"> Du {{ data.dateDebut|date('d/m/Y') }} AU {{ data.dateFin|date('d/m/Y') }} | <img alt="Image" src="{{ asset('bundles/basebledvoyage/images/interface/heure.png') }}">  {{ data.heureDebut }} - {{ data.heureFin }}.
                    </h4>
                    <p>
                        Tarif : {{ data.tarif }} Da/personne  
                    </p>
                    <div class="buttono" target="_blank" href="#">Facturer</div>
                </div>
                <div class="aviright">
                    <div class="headav">
                        <h2>Résa Total</h2> 
                    </div>
                    <div class="headav">
                        <h2>Résa confirmés</h2>
                        <p>49</p>								
                        <div class="evod">
                            <div class="evodo">
                                <div class="evoda" style="width:20%;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="headav">
                        <h2>Places confirmées</h2>
                        <p>155</p>
                    </div>
                    <div class="headav">
                        <h2>Présent</h2>
                        <p>66</p>
                        <div class="evod">
                            <div class="evodo">
                                <div class="evoda" style="width:20%;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="headav">
                        <h2>Facturé</h2>
                        <p>28</p>							
                    </div>
                </div>
            </div>
            <div class="avison">
                <table>
                    <thead>
                        <tr>
                            <th class="numero">Ligne</th>
                            <th>N° de Résa</th>
                            <th>Time</th>
                            <th>Prénom</th>
                            <th>Nom</th>
                            <th>Tél.</th>
                            <th>Place</th>
                            <th>Pour le</th>
                            <th>Date</th>
                            <th>Partenaire</th>
                            <th>Ticket</th>
                            <th>Formation</th>
                            <th>RDV</th>
                            <th>Note</th>
                            <th>Note</th>
                            <th>Confirmation</th>
                            <th>Accompte</th>
                            <th>Avis</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set i = 1 %}
                        {% for dataR in reservation %}
                            {% if dataR.sortie == data.id %}
                                {%     if dataR.tel is not empty and dataR.confirmer is not null and dataR.acompte is null and dataR.avis == 1 %}
                                    <tr class="spetela">
                                        <td class="numero">{{ i }}</td>
                                        <td class="okao"><img class="oka" alt="ok" src="{{ asset('bundles/basebledvoyage/images/admin/ok.png') }}">{{ dataR.id }}</td>
                                        <td>{{ dataR.dateTime|date('d/m/Y') }}</td>
                                        <td>{{ dataR.prenom }}</td>
                                        <td>{{ dataR.nom }}</td>
                                        <td>{{ dataR.tel }}</td>
                                        <td>{{ dataR.place }}</td>
                                        <td>{{ dataR.dateReserver|date('d/m/Y') }}</td>
                                        <td>{{ dataR.dateConfirmer|date('d/m/Y') }}</td>
                                        <td></td>
                                        <td>{{ dataR.ticketPromo }}</td>
                                        <td></td>
                                        <td></td>
                                        <td class="couleur">{{ dataR.note }}</td>
                                        <td><a class="button"    target="_blank" href="{{ path('bledvoyage_admin_reservation_note', { 'id' : dataR.id }) }}">Note</a>{% if dataR.note is not empty %}{{ dataR.noteUser.secondename }}{% endif %}</td>
                                        <td><a class="buttona"   target="_blank" href="{{ path('bledvoyage_admin_reservation_confirmer', { 'id' : dataR.id }) }}"><img class="oko" alt="ok" src="{{ asset('bundles/basebledvoyage/images/admin/ok.png') }}">Confirmé</a>{{ dataR.confirmer.secondename }}</td>
                                        <td><div class="button"  target="_blank" href="{{ path('bledvoyage_admin_reservation_acompte', { 'id' : dataR.id }) }}">Accompte</div></td>
                                        <td><a class="buttona"><img class="oko" alt="ok" src="{{ asset('bundles/basebledvoyage/images/admin/ok.png') }}"> Avis</a>{{ dataR.avisUser.secondename }}</td>                          
                                    </tr>
                                {% elseif dataR.tel is not empty and dataR.confirmer is not null and dataR.acompte is null and dataR.avis == 2 %}
                                    <tr>
                                        <td class="numero">{{ i }}</td>
                                        <td>{{ dataR.id }}</td>
                                        <td>{{ dataR.dateTime|date('d/m/Y') }}</td>
                                        <td>{{ dataR.prenom }}</td>
                                        <td>{{ dataR.nom }}</td>
                                        <td>{{ dataR.tel }}</td>
                                        <td>{{ dataR.place }}</td>
                                        <td>{{ dataR.dateReserver|date('d/m/Y') }}</td>
                                        <td>{{ dataR.dateConfirmer|date('d/m/Y') }}</td>
                                        <td></td>
                                        <td>{{ dataR.ticketPromo }}</td>
                                        <td></td>
                                        <td></td>
                                        <td class="couleur">{{ dataR.note }}</td>
                                        <td><a class="button"  target="_blank" href="{{ path('bledvoyage_admin_reservation_note', { 'id' : dataR.id }) }}">Note</a>{% if dataR.note is not empty %}{{ dataR.noteUser.secondename }}{% endif %}</td>
                                        <td><a class="buttona" target="_blank" href="{{ path('bledvoyage_admin_reservation_confirmer', { 'id' : dataR.id }) }}"><img class="oko" alt="ok" src="{{ asset('bundles/basebledvoyage/images/admin/ok.png') }}">Confirmé</a>{{ dataR.confirmer.secondename }}</td>
                                        <td><a class="button"  target="_blank" href="{{ path('bledvoyage_admin_reservation_acompte', { 'id' : dataR.id }) }}">Accompte</a></td> <!-- bottona -> bottono -->
                                        <td><a class="buttona" target="_blank" href="{{ path('bledvoyage_admin_reservation_avis', { 'id' : dataR.id }) }}">Avis</a>{{ dataR.avisUser.secondename }}</td>                                  
                                    </tr>
                                {% elseif dataR.tel is not empty and dataR.confirmer is not null and dataR.acompte is not null and dataR.avis == 1 %}
                                    <tr class="spetela">
                                        <td class="numero">{{ i }}</td>
                                        <td class="okao"><img class="oka" alt="ok" src="{{ asset('bundles/basebledvoyage/images/admin/ok.png') }}">{{ dataR.id }}</td>
                                        <td>{{ dataR.dateTime|date('d/m/Y') }}</td>
                                        <td>{{ dataR.prenom }}</td>
                                        <td>{{ dataR.nom }}</td>
                                        <td>{{ dataR.tel }}</td>
                                        <td>{{ dataR.place }}</td>
                                        <td>{{ dataR.dateReserver|date('d/m/Y') }}</td>
                                        <td>{{ dataR.dateConfirmer|date('d/m/Y') }}</td>
                                        <td></td>
                                        <td>{{ dataR.ticketPromo }}</td>
                                        <td></td>
                                        <td></td>
                                        <td class="couleur">{{ dataR.note }}</td>
                                        <td><a class="button"  target="_blank" href="{{ path('bledvoyage_admin_reservation_note', { 'id' : dataR.id }) }}">Note</a>{% if dataR.note is not empty %}{{ dataR.noteUser.secondename }}{% endif %}</td>
                                        <td><a class="buttona" target="_blank" href="{{ path('bledvoyage_admin_reservation_confirmer', { 'id' : dataR.id }) }}"><img class="oko" alt="ok" src="{{ asset('bundles/basebledvoyage/images/admin/ok.png') }}">Confirmé</a>{{ dataR.confirmer.secondename }}</td>
                                        <td><a class="button"  target="_blank" href="{{ path('bledvoyage_admin_reservation_acompte', { 'id' : dataR.id }) }}"><img class="oko" alt="ok" src="{{ asset('bundles/basebledvoyage/images/admin/ok.png') }}">Accompte</a>{{ dataR.acompte.secondename }}</td> <!-- bottona -> bottono -->
                                        <td><a class="buttona"><img class="oko" alt="ok" src="{{ asset('bundles/basebledvoyage/images/admin/ok.png') }}">Avis</a>{{ dataR.avisUser.secondename }}</td>                                      
                                    </tr>
                                {% elseif dataR.tel is not empty and dataR.confirmer is not null and dataR.acompte is not null and dataR.avis == 2 %}    
                                    <tr>
                                        <td class="numero">{{ i }}</td>
                                        <td>{{ dataR.id }}</td>
                                        <td>{{ dataR.dateTime|date('d/m/Y') }}</td>
                                        <td>{{ dataR.prenom }}</td>
                                        <td>{{ dataR.nom }}</td>
                                        <td>{{ dataR.tel }}</td>
                                        <td>{{ dataR.place }}</td>
                                        <td>{{ dataR.dateReserver|date('d/m/Y') }}</td>
                                        <td>{{ dataR.dateConfirmer|date('d/m/Y') }}</td>
                                        <td></td>
                                        <td>{{ dataR.ticketPromo }}</td>
                                        <td></td>
                                        <td></td>
                                        <td class="couleur">{{ dataR.note }}</td>
                                        <td><a class="button"  target="_blank" href="{{ path('bledvoyage_admin_reservation_note', { 'id' : dataR.id }) }}">Note</a>{% if dataR.note is not empty %}{{ dataR.noteUser.secondename }}{% endif %}</td>
                                        <td><a class="buttona" target="_blank" href="{{ path('bledvoyage_admin_reservation_confirmer', { 'id' : dataR.id }) }}"><img class="oko" alt="ok" src="{{ asset('bundles/basebledvoyage/images/admin/ok.png') }}">Confirmé</a>{{ dataR.confirmer.secondename }}</td>
                                        <td><a class="button"  target="_blank" href="{{ path('bledvoyage_admin_reservation_acompte', { 'id' : dataR.id }) }}"><img class="oko" alt="ok" src="{{ asset('bundles/basebledvoyage/images/admin/ok.png') }}">Accompte</a>{{ dataR.acompte.secondename }}</td> <!-- bottona -> bottono -->
                                        <td><a class="buttona">Avis</a>{{ dataR.avisUser.secondename }}</td>                                     
                                    </tr>
                                {% elseif dataR.tel is not empty and dataR.confirmer is not null and dataR.acompte is not null and dataR.avis == 0 %}
                                    <tr>
                                        <td class="numero">{{ i }}</td>
                                        <td> {{ dataR.id }}</td>
                                        <td>{{ dataR.dateTime|date('d/m/Y') }}</td>
                                        <td>{{ dataR.prenom }}</td>
                                        <td>{{ dataR.nom }}</td>
                                        <td>{{ dataR.tel }}</td>
                                        <td>{{ dataR.place }}</td>
                                        <td>{{ dataR.dateReserver|date('d/m/Y') }}</td>
                                        <td>{{ dataR.dateConfirmer|date('d/m/Y') }}</td>
                                        <td></td>
                                        <td>{{ dataR.ticketPromo }}</td>
                                        <td></td>
                                        <td></td>
                                        <td class="couleur">{{ dataR.note }}</td>
                                        <td><a class="button"  target="_blank" href="{{ path('bledvoyage_admin_reservation_note', { 'id' : dataR.id }) }}">Note</a>{% if dataR.note is not empty %}{{ dataR.noteUser.secondename }}{% endif %}</td>
                                        <td><a class="buttona" target="_blank" href="{{ path('bledvoyage_admin_reservation_confirmer', { 'id' : dataR.id }) }}"><img class="oko" alt="ok" src="{{ asset('bundles/basebledvoyage/images/admin/ok.png') }}">Confirmé</a>{{ dataR.confirmer.secondename }}</td>
                                        <td><a class="button"  target="_blank" href="{{ path('bledvoyage_admin_reservation_acompte', { 'id' : dataR.id }) }}"><img class="oko" alt="ok" src="{{ asset('bundles/basebledvoyage/images/admin/ok.png') }}">Accompte</a>{{ dataR.acompte.secondename }}</td> <!-- bottona -> bottono -->
                                        <td><a class="button"  target="_blank" href="{{ path('bledvoyage_admin_reservation_avis', { 'id' : dataR.id }) }}">Avis</a></td>                                  
                                    </tr>
                                {% elseif dataR.tel is not empty and dataR.confirmer is not null and dataR.acompte is null and dataR.avis == 0 %}
                                    <tr>
                                        <td class="numero">{{ i }}</td>
                                        <td>{{ dataR.id }}</td>
                                        <td>{{ dataR.dateTime|date('d/m/Y') }}</td>
                                        <td>{{ dataR.prenom }}</td>
                                        <td>{{ dataR.nom }}</td>
                                        <td>{{ dataR.tel }}</td>
                                        <td>{{ dataR.place }}</td>
                                        <td>{{ dataR.dateReserver|date('d/m/Y') }}</td>
                                        <td>{{ dataR.dateConfirmer|date('d/m/Y') }}</td>
                                        <td></td>
                                        <td>{{ dataR.ticketPromo }}</td>
                                        <td></td>
                                        <td></td>
                                        <td class="couleur">{{ dataR.note }}</td>
                                        <td><a class="button"  target="_blank" href="{{ path('bledvoyage_admin_reservation_note', { 'id' : dataR.id }) }}">Note</a>{% if dataR.note is not empty %}{{ dataR.noteUser.secondename }}{% endif %}</td>
                                        <td><a class="buttona" target="_blank" href="{{ path('bledvoyage_admin_reservation_confirmer', { 'id' : dataR.id }) }}"><img class="oko" alt="ok" src="{{ asset('bundles/basebledvoyage/images/admin/ok.png') }}">Confirmé</a>{{ dataR.confirmer.secondename }}</td>
                                        <td><a class="button"  target="_blank" href="{{ path('bledvoyage_admin_reservation_acompte', { 'id' : dataR.id }) }}">Accompte</a></td> <!-- botton -> bottono -->
                                        <td><a class="button"  target="_blank" href="{{ path('bledvoyage_admin_reservation_avis', { 'id' : dataR.id }) }}">Avis</a></td>                                      
                                    </tr>
                                {% elseif dataR.tel is not empty and dataR.confirmer is null and dataR.acompte is null and dataR.avis == 0 %}
                                    <tr>
                                        <td class="numero">{{ i }}</td>
                                        <td>{{ dataR.id }}</td>
                                        <td>{{ dataR.dateTime|date('d/m/Y') }}</td>
                                        <td>{{ dataR.prenom }}</td>
                                        <td>{{ dataR.nom }}</td>
                                        <td>{{ dataR.tel }}</td>
                                        <td>{{ dataR.place }}</td>
                                        <td>{{ dataR.dateReserver|date('d/m/Y') }}</td>
                                        <td></td>
                                        <td></td>
                                        <td>{{ dataR.ticketPromo }}</td>
                                        <td></td>
                                        <td></td>
                                        <td class="couleur">{{ dataR.note }}</td>
                                        <td><a class="button"    target="_blank" href="{{ path('bledvoyage_admin_reservation_note', { 'id' : dataR.id }) }}">Note</a>{% if dataR.note is not empty %}{{ dataR.noteUser.secondename }}{% endif %}</td>
                                        <td><a class="button"    target="_blank" href="{{ path('bledvoyage_admin_reservation_confirmer', { 'id' : dataR.id }) }}">Confirmer</a></td>
                                        <td><div class="buttono" target="_blank" href="{{ path('bledvoyage_admin_reservation_acompte', { 'id' : dataR.id }) }}">Accompte</div></td>
                                        <td><div class="buttono" target="_blank" href="{{ path('bledvoyage_admin_reservation_avis', { 'id' : dataR.id }) }}">Avis</div></td>                   
                                    </tr>
                                {% else %}
                                    <tr class="spetel">
                                        <td class="numero">{{ i }}</td>
                                        <td>{{ dataR.id }}</td>
                                        <td>{{ dataR.dateTime|date('d/m/Y') }}</td>
                                        <td>{{ dataR.prenom }}</td>
                                        <td>{{ dataR.nom }}</td>
                                        <td></td>
                                        <td>{{ dataR.place }}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="couleur">{{ dataR.note }}</td>
                                        <td>--</td>
                                        <td>--</td>
                                        <td>--</td>
                                        <td>--</td>      
                                    </tr>
                                {% endif %}
                                {% set i = i + 1 %}
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div> 
        </div>
    </section>
    {% endfor %}
</div>
{% endblock %}

{% block jquery %}{% endblock %}
{% block javascripts %}
<!--
<script>
jQuery(document).ready(function(){
    $("#boutonplus52").on("click", function(){
        $("#boutonplus52").hide();
        $("#boutonmoins52").show();
        $("#plus52").slideDown();
        return false;
    });
    $("#boutonmoins52").on("click", function(){
        $("#boutonmoins52").hide();
        $("#boutonplus52").show();
        $("#plus52").slideUp();
        return false;
    });
});
</script>
-->
{% endblock %}
