{% extends "::Admin/base.html.twig" %}

{% block title %}Administration{% endblock %}

{% block stylesheets %}
{{ parent() }}
<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
{% endblock %}

{% block body %}
<h1>Welcome to the Admin:index page</h1>
<div class="bloc_page_body222">
    <h2>
        Tableau de Bord
    </h2>
</div>		
<section>
    <div class="avisor">
        <h3>31 sorties</h3>
        <p> Nombres de réservations total = 368</p>				
        <p> Nombres de places réservés = 1007</p>						
        <p>
            CA potentiel = 
        </p>
    </div>
</section>
<div class=".bloc_page_body3">
    <script>
    jQuery(document).ready(function(){
        $("#boutonplus52").on("click", function(){
            $("#boutonplus52").hide();
            $("#boutonmoins52").show();
            $("#plus52").slideDown();
            return false;
        });
        $("#boutonmoins52").on("click", function(){
            $("#boutonmoins52").hide();
            $("#boutonplus52").show();
            $("#plus52").slideUp();
            return false;
        });
    });
    </script>
    <section>
        <div class="soutir">
            <h3 style="display:inline">Quad Aventure  // Tipaza</h3>
            <a class="leplus" href="#" id="boutonplus52"> Ouvrir</a>
            <a class="leplus" href="#" id="boutonmoins52" style="display:none"> Reduire</a>
        </div>
        <div id="plus52" style="display:none">
            <div class="avisor">
                <div class="avileft">
                    <h4>
                        <img alt="Image" src="{{ asset('bundles/basebledvoyage/images/interface/date.png') }}"> Du 02/06/2015 AU 28/02/2015 | <img alt="Image" src="{{ asset('bundles/basebledvoyage/images/interface/heure.png') }}">  9h00 - 17h00.
                    </h4>
                    <p>
                        Tarif : 3900 Da/personne  
                    </p>
                    <!-- 
                    <p>
                        Charge :  Da/personne
                    </p>
                    -->
                    <p>
                    <div class="buttono" target="_blank" href="facture.php?confirmation=">Facturer</div>
                </div>
                <div class="aviright">
                    <div class="headav">
                        <h2>Résa Total</h2> 
                    </div>
                    <div class="headav">
                        <h2>Résa confirmés</h2>
                        <p>49</p>								
                        <div class="evod">
                            <div class="evodo">
                                <div class="evoda" style="width:20%;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="headav">
                        <h2>Places confirmées</h2>
                        <p>155 </p>
                    </div>
                    <div class="headav">
                        <h2>Présent</h2>
                        <p>66 </p>
                        <div class="evod">
                            <div class="evodo">
                                <div class="evoda" style="width:20%;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="headav">
                        <h2>Facturé</h2>
                        <p>28 </p>							
                    </div>
                </div>
            </div>
            <div class="avison">
                <table>
                    <thead>
                        <tr>
                            <th class="numero">Ligne</th>
                            <th>N° de Résa</th>
                            <th>Time</th>
                            <th>Prénom</th>
                            <th>Nom</th>
                            <th>Tél.</th>
                            <th>Place</th>
                            <th>Pour le</th>
                            <th>Date</th>
                            <th>Partenaire</th>
                            <th>Ticket</th>
                            <th>Formation</th>
                            <th>RDV</th>
                            <th>Note</th>
                            <th>Note</th>
                            <th>Confirmation</th>
                            <th>Accompte</th>
                            <th>Avis</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="spetel">
                            <td class="numero">30</td>
                            <td>1381</td>
                            <td>24/12/2014</td>
                            <td>Hadjer</td>
                            <td>Bendjillali </td>
                            <td></td>
                            <td>1</td>
                            <td>aucune</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="couleur"></td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                        </tr>
                        <tr>
                            <td class="numero">84</td>
                            <td>1553</td>
                            <td>09/02/2015</td>
                            <td>Youcef</td>
                            <td>Oulad babouhoun</td>
                            <td>0661699757</td>
                            <td>3</td>
                            <td>13/02/2015</td>
                            <td>13/02/2015</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="couleur"></td>
                            <td><a class="button" target="_blank" href="note.php?confirmation=1553">Note</a></td>
                            <td><a class="buttona" target="_blank" href="confirmation.php?confirmation=1553"><img class="oko" alt="ok" src="{{ asset('bundles/basebledvoyage/images/admin/ok.png') }}">  Confirmé</a></td>
                            <td><a class="button" target="_blank" href="accompte.php?confirmation=1553">Accompte</a></td>
                            <td><a class="button" target="_blank" href="avis.php?confirmation=1553">Avis</a></td>
                        </tr>
                        <tr>
                            <td class="numero">1</td>
                            <td>1696</td>
                            <td>27/02/2015</td>
                            <td>Nazim adel</td>
                            <td>Belazougui</td>
                            <td>0557188305</td>
                            <td>5</td>
                            <td>06/03/2015</td> 
                            <td></td>
                            <td></td>
                            <td>3x invalide(s)/3x a payé</td>
                            <td></td>
                            <td></td>
                            <td class="couleur"></td>
                            <td><a class="button" target="_blank" href="note.php?confirmation=1696">Note</a></td>
                            <td><a class="button" target="_blank" href="confirmation.php?confirmation=1696">Confirmer</a></td>
                            <td><div class="buttono" target="_blank" href="accompte.php?confirmation=1696">Accompte</div></td>
                            <td><div class="buttono" target="_blank" href="avis.php?confirmation=1696">Avis</div></td>
                        </tr>
                        <tr>
                            <td class="numero">93</td>
                            <td>1564</td>
                            <td>11/02/2015</td>
                            <td>Mohamed amine</td>
                            <td>Maiza</td>
                            <td>0540268671</td>
                            <td>3</td>
                            <td>13/02/2015</td>
                            <td>12/02/2015</td>
                            <td></td>
                            <td>Code INVALIDE!</td>
                            <td></td>
                            <td></td>
                            <td class="couleur"></td>
                            <td><a class="button" target="_blank" href="note.php?confirmation=1564">Note</a></td>
                            <td><a class="buttona" target="_blank" href="confirmation.php?confirmation=1564"><img class="oko" alt="ok" src="{{ asset('bundles/basebledvoyage/images/admin/ok.png') }}">  Confirmé</a></td>
                            <td><div class="buttono" target="_blank" href="accompte.php?confirmation=1564">Accompte</div></td>
                            <td><a class="buttona" target="_blank" href="avis.php?confirmation=1564">  Avis</a></td>
                        </tr>
                        <tr class="spetela">
                            <td class="numero">99</td>
                            <td class="okao"><img class="oka" alt="ok" src="{{ asset('bundles/basebledvoyage/images/admin/ok.png') }}"> 1507</td>
                            <td>31/01/2015</td>
                            <td>Mehdi</td>
                            <td>Benchaouche</td>
                            <td>0554542661</td>
                            <td>6</td>
                            <td>07/02/2015</td>
                            <td>13/02/2015</td>
                            <td></td>
                            <td>Pack loisirs 6</td>
                            <td></td>
                            <td></td>
                            <td class="couleur">Pack</td>
                            <td><a class="button" target="_blank" href="note.php?confirmation=1507">Note</a></td>
                            <td><a class="buttona" target="_blank" href="confirmation.php?confirmation=1507"><img class="oko" alt="ok" src="{{ asset('bundles/basebledvoyage/images/admin/ok.png') }}">  Confirmé</a></td>
                            <td><div class="buttono" target="_blank" href="accompte.php?confirmation=1507">Accompte</div></td>
                            <td><a class="buttona"><img class="oko" alt="ok" src="{{ asset('bundles/basebledvoyage/images/admin/ok.png') }}"> Avis</a></td>
                        </tr>
                    </tbody>
                </table>
            </div> 
        </div>
    </section>
</div>
{% endblock %}
