{% extends "::Admin/base.html.twig" %}

{% block title %}Administration{% endblock %}

{% block body %}
{% for data in product %}
<div class="bloc_page_body222">
    <h2>
        Avis 
    </h2>
</div>	
<div class="bloc_page_body3">
    <section class="suito">
        <article>
            <h1>Sortie : {{ data.sortie.titre }}, {{ data.sortie.localisation }}.</h1>
            <h3>Tarif : {{ data.sortie.tarif }} Da/personne</h3>
            <h3>Numéro de réservation : {{ data.id }}.</h3>
            <h3>Prénom Nom : {{ data.user.secondename }} {{ data.user.firstname }}.</h3>
            <h3>Téléphone : {{ data.user.phone }}.</h3>
            <h3>E-mail : {{ data.user.email }}.</h3>
            <h3>Date de réservation : {{ data.dateTime|date('d/m/Y') }}.</h3>
            <h3>Nombre de places : {{ data.nombre }}.</h3>
            <h1>Total : {{ total }} Dinars</h1>
        </article>
        <div class="forpar">
            <form method="post">
                <div class="mr6">
                    <input class="cherchez" name="login" type="submit" value="Envoyer" />
                </div>
            </form>
        </div>
    </section>
    <div class="plusrc">
        <p>
            <a href="{{ path('bledvoyage_admin') }}">
                Revenir au tableau de bord
            </a>
        </p>

    </div>
</div>
{% endfor %}
{% endblock %}

{% block jquery %}{% endblock %}
