{% extends "::Admin/base.html.twig" %}

{% block title %}Administration{% endblock %}

{% block body %}
<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//code.highcharts.com/4.0.1/highcharts.js"></script>
<script src="//code.highcharts.com/4.0.1/modules/exporting.js"></script>
<div class="bloc_page_body222">
    <h2>
        Statistiques
    </h2>
    <h3><a href="{{ path('bledvoyage_admin_stat_year', { 'year': 14 }) }}">2014</a> <a href="{{ path('bledvoyage_admin_stat_year', { 'year': 15  }) }}">2015</a></h3>
</div>
<section>
    <script type="text/javascript">
        {{ chart(chart1) }}
    </script>
    <div id="linechart1" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
</section>
<section>
    <script type="text/javascript">
        {{ chart(chart2) }}
    </script>
    <div id="linechart2" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
</section>
{% if m > 0 and m <2 %}
<section>
    <script type="text/javascript">
        {{ chart(chart41) }}
    </script>
    <div id="linechart41" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
</section>
{% endif %}
{#
{% if m > 0 and m <3 %}
<section>
    <script type="text/javascript">
        {{ chart(chart42) }}
    </script>
    <div id="linechart42" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
</section>
{% endif %}
#}
{# dump(m) #}
{% endblock %}

{% block jquery %}{% endblock %}
