{% extends "::Admin/base.html.twig" %}

{% block title %}Administration{% endblock %}

{% block stylesheets %}
{{ parent() }}
<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
{% endblock %}

{% block body %}
<div class="bloc_page_body222">
    <h2>
        Informations sur les commandes
    </h2>
</div>
<section>
    <form method="post">
        <div class="avisor">
            <h3>Entrez le numéro de commande</h3>
            <input class="ouardep" type="number" name="commande" required />
            <input class="cherchez" name="login" type="submit" value="Envoyer"/>
        </div>			
    </form>
</section>
{% if product is not empty %}
{% for data in product %}
<section>
    <h2>Commande N° 222</h2>
    <h3>Informations sur la commande</h3>
    <p>Nom : </p>
    <p>Prénom : {{ data.user.secondename }}</p>
    <p>Téléphone : {{ data.user.phone }}</p>
    <p>Mail : {{ data.user.email }}</p>
    <p>Date commande : {{ data.datetime|date('d/m/Y') }}</p>
    <p>Catégorie : {{ data.categorieTicket.nom }}</p>
    <p>Quantité : {{ data.nombre }}</p>
    <p>Date d'achat : {{ data.dateTime|date('d/m/Y à h:s') }}</p>
    <h3>Remarques</h3>
    <p>
        <br />
        {% if data.remarque is not empty %}{{ data.remarque }}{% else %}Néant{% endif %}
    </p>
    <br />
    <h2>Les tickets</h2>
    <div class="avison">
        <table>
            <thead>
                <tr>
                    <th class="numero">N°</th>
                    <th>Code</th>
                    <th>Place(s) maximum</th>
                    <th>Place(s) utilisée(s)</th>
                    <th>Place(s) restante(s)</th>
                    <th>Valable jusqu'au</th>
                </tr>
            </thead>
            <tbody>
                {% for dataT in ticket %}
                <tr>
                    <td class="numero">1</td>
                    <td>{{ dataT.code }}</td>
                    <td>{{ dataT.commande.categorieTicket.nombreActivite }}</td>
                    <td>{{ dataT.used }}</td>
                    <td>{{ dataT.commande.categorieTicket.nombreActivite - dataT.used }}</td>
                    <td>{{ dataT.dateFin|date('d/m/Y') }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
<form method="post">
    <label>Ajouter une remarque:</label>
    <textarea name="remarques"></textarea>
    <input type="hidden" name="rem" value="1">
    <input type="hidden" name="commande" value="222">
    <input type="submit" value="Envoyer">
</form>
{% endfor %}
{% endif %}
{% endblock %}
